Repository shakes76/PatternFlow, pull requests merged in 2021-11, with the labels that each got.

#197 Topic recognition
  recognition/s4414800/README.md
  recognition/s4414800/driver.ipynb
  recognition/s4414800/driver.py
  recognition/s4414800/images/display1.png
  recognition/s4414800/images/display2.png
  recognition/s4414800/images/display3.png
  recognition/s4414800/images/unet.png
  recognition/s4414800/model.py
Labels: Improved UNet

#198 Semi-supervised multi-layer GCN model for node classification - s4628887
  recognition/s4628887_Task_2_GCN/GCNConv.py
  recognition/s4628887_Task_2_GCN/GCN_Node_Classification.ipynb
  recognition/s4628887_Task_2_GCN/README.md
  recognition/s4628887_Task_2_GCN/graph.py
  recognition/s4628887_Task_2_GCN/model-graphs/Figure_1.png
  recognition/s4628887_Task_2_GCN/model-graphs/Figure_2.png
  recognition/s4628887_Task_2_GCN/model-graphs/Figure_3.png
  recognition/s4628887_Task_2_GCN/model-graphs/Figure_4.png
  recognition/s4628887_Task_2_GCN/model-graphs/GCN.png
  recognition/s4628887_Task_2_GCN/model.py
Labels: GCN

#199 S44792925 Improved UNet
  recognition/s44792925/README.md
  recognition/s44792925/images/improved_unet.png
  recognition/s44792925/images/training_accuracy.jpeg
  recognition/s44792925/images/training_dice_coefficient.jpeg
  recognition/s44792925/images/training_info.jpg
  recognition/s44792925/images/training_loss.jpeg
  recognition/s44792925/images/visualisation.jpg
  recognition/s44792925/main.ipynb
  recognition/s44792925/model.py
Labels: Improved UNet

#212 Topic Recognition - StyleGAN1 Implementation - Christopher Atkinson - 44776859
  .gitignore
  recognition/44776859_StyleGAN/.gitignore
  recognition/44776859_StyleGAN/README.md
  recognition/44776859_StyleGAN/driver.ipynb
  recognition/44776859_StyleGAN/model.py
  recognition/44776859_StyleGAN/resources/adversarial_balance.png
  recognition/44776859_StyleGAN/resources/bad_variance.png
  recognition/44776859_StyleGAN/resources/brain_output.png
  recognition/44776859_StyleGAN/resources/celeba_output.png
  recognition/44776859_StyleGAN/resources/chosen_task.png
  recognition/44776859_StyleGAN/resources/discriminator_plot.png
  recognition/44776859_StyleGAN/resources/generator_plot.png
  recognition/44776859_StyleGAN/resources/good_variance.png
  recognition/44776859_StyleGAN/resources/knee_output.png
  recognition/44776859_StyleGAN/resources/mnist_output.png
  recognition/44776859_StyleGAN/resources/stylegan_architecture.png
  recognition/ISICs_UNet/README.md
Labels: StyleGAN

#213 s4546371-HANZHANG-PULL-REQUEST
  recognition/s4546371_TASK1_U-NET/README.md
  recognition/s4546371_TASK1_U-NET/data_cleaning.py
  recognition/s4546371_TASK1_U-NET/dice_cofficient.py
  recognition/s4546371_TASK1_U-NET/driver.ipynb
  recognition/s4546371_TASK1_U-NET/images/dice_cofficient.png
  recognition/s4546371_TASK1_U-NET/images/example1.png
  recognition/s4546371_TASK1_U-NET/images/example2.png
  recognition/s4546371_TASK1_U-NET/images/improved_u_net_ac.png
  recognition/s4546371_TASK1_U-NET/images/loss.png
  recognition/s4546371_TASK1_U-NET/images/test_cofficient.png
  recognition/s4546371_TASK1_U-NET/main.py
  recognition/s4546371_TASK1_U-NET/model.py
Labels: Improved UNet

#214 s4589963_GCN
  recognition/s4589963_GCN/.DS_Store
  recognition/s4589963_GCN/GCN.ipynb
  recognition/s4589963_GCN/README.md
  recognition/s4589963_GCN/images/.DS_Store
  recognition/s4589963_GCN/images/GCN_tsne.PNG
  recognition/s4589963_GCN/images/IMG_7459.PNG
  recognition/s4589963_GCN/images/training_effect.png
  recognition/s4589963_GCN/layer.py
  recognition/s4589963_GCN/model.py
  recognition/s4589963_GCN/train.py
  recognition/s4589963_GCN/tsne.py
Labels: GCN

#217 Topic recognition
  recognition/s4547377_haoxiang/README.md
  recognition/s4547377_haoxiang/ResultImages/average.png
  recognition/s4547377_haoxiang/ResultImages/evaulate.png
  recognition/s4547377_haoxiang/ResultImages/formula.png
  recognition/s4547377_haoxiang/ResultImages/groundtruth1.png
  recognition/s4547377_haoxiang/ResultImages/groundtruth2.png
  recognition/s4547377_haoxiang/ResultImages/loss.png
  recognition/s4547377_haoxiang/ResultImages/origin1.png
  recognition/s4547377_haoxiang/ResultImages/origin2.png
  recognition/s4547377_haoxiang/ResultImages/predication1.png
  recognition/s4547377_haoxiang/ResultImages/predication2.png
  recognition/s4547377_haoxiang/ResultImages/similarity1.png
  recognition/s4547377_haoxiang/ResultImages/similarity2.png
  recognition/s4547377_haoxiang/ResultImages/value.png
  recognition/s4547377_haoxiang/basic_unet_model.py
  recognition/s4547377_haoxiang/gpu_usage.png
  recognition/s4547377_haoxiang/improvedunet.png
  recognition/s4547377_haoxiang/license.txt
  recognition/s4547377_haoxiang/main.py
  recognition/s4547377_haoxiang/model.py
  recognition/s4547377_haoxiang/u-net-architecture.png
Labels: Improved UNet

#218 | OAI AKOA | Perceiver Transformer | 46252665 |
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/.gitignore
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/ReadMe.md
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/__init__.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/data/AKOA_Analysis/__init__.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/data/__init__.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/data/processed/__init__.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/__init__.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/display_plot.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/figures/accuracy.png
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/figures/accuracy_aug.png
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/figures/gpt2_transformer_architecture.jpeg
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/figures/loss.png
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/figures/loss_aug.png
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/figures/patches.png
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/figures/perceiver_summary.png
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/figures/perceiver_transformer.jpg
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/figures/perceiver_transformer.png
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/display/figures/sample.png
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/logs/__init__.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/main.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/perceiver.sh
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/perceiver/__init__.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/perceiver/attention_module.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/perceiver/extract_patches.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/perceiver/feed_forward.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/perceiver/load_data.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/perceiver/patch_encoder.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/perceiver/perceiver.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/perceiver/train.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/pre_process/__init__.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/pre_process/dataset_processor.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/requirements.txt
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/settings/__init__.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/settings/config.py
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/slurm_perceiver_error.txt
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/slurm_perceiver_output.txt
  recognition/46252665_Perceiver_Transformer_OAI_AKOA/tf.yml
Labels: Perceiver Transformer

#219 Zhuoxiao Chen - 44815404 - StyleGAN - OAI AKOA Knee dataset
  .gitignore
  recognition/s4481540_Zhuoxiao_Chen/README.md
  recognition/s4481540_Zhuoxiao_Chen/data_loader.py
  recognition/s4481540_Zhuoxiao_Chen/generate_AKOA.py
  recognition/s4481540_Zhuoxiao_Chen/network.py
  recognition/s4481540_Zhuoxiao_Chen/preprocess_AKOA_images.py
  recognition/s4481540_Zhuoxiao_Chen/train_AKOA_StyleGAN.py
Labels: StyleGAN

#220 Skin Lesion detection using YOLOv3
  recognition/Skin_Lesion_detection_using_YOLOv3/Annotate_YOLO.py
  recognition/Skin_Lesion_detection_using_YOLOv3/Generate_Train_Test.py
  recognition/Skin_Lesion_detection_using_YOLOv3/Helper.py
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_0000000_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_00000011_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_00000012_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_00000013_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_00000014_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_0000001_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_0000003_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_0000004_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_0000006_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_0000007_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_0000008_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/Predictions/ISIC_0000009_YOLO.png
  recognition/Skin_Lesion_detection_using_YOLOv3/README.md
  recognition/Skin_Lesion_detection_using_YOLOv3/Resources/Loss.JPG
  recognition/Skin_Lesion_detection_using_YOLOv3/Resources/Predictions.gif
  recognition/Skin_Lesion_detection_using_YOLOv3/Resources/Summary.JPG
  recognition/Skin_Lesion_detection_using_YOLOv3/Resources/YOLOv3_architecture.jpg
  recognition/Skin_Lesion_detection_using_YOLOv3/Resources/chart_yolov3-custom.png
  recognition/Skin_Lesion_detection_using_YOLOv3/obj.data
  recognition/Skin_Lesion_detection_using_YOLOv3/obj.names
  recognition/Skin_Lesion_detection_using_YOLOv3/yolov3-custom.cfg
Labels: YOLO

#227 StyleGan1_Xinqian Wang_S4565489
  recognition/Xinqian Wang_StyleGAN_s45654897/README.md
  recognition/Xinqian Wang_StyleGAN_s45654897/StyleGANipynb.ipynb
  recognition/Xinqian Wang_StyleGAN_s45654897/StyleGANipynb_Colaboratory.pdf
  recognition/Xinqian Wang_StyleGAN_s45654897/image/Gram Matrix plot.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/Gram Matrix plot_New.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/Maniford_01257.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/Maniford_123467.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/Maniford_56789.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/Model Structure.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/Truncation trick.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/Umap.jpg
  recognition/Xinqian Wang_StyleGAN_s45654897/image/maniford sample/sample0.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/maniford sample/sample1.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/maniford sample/sample2.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/maniford sample/sample3.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/maniford sample/sample4.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/maniford sample/sample5.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/maniford sample/sample6.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/maniford sample/sample7.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/maniford sample/sample8.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/maniford sample/sample9.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/mix_SourceA_SourceB.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/noise and zero noise.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/noise coarse and fine.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/noise coarse and fine_2.0.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/noise_variation.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/w_c_188.c_481.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/w_mean_std.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/z_c_188.c_481.png
  recognition/Xinqian Wang_StyleGAN_s45654897/image/z_mean_std.png
  recognition/Xinqian Wang_StyleGAN_s45654897/make_imdb.py
  recognition/Xinqian Wang_StyleGAN_s45654897/model.py
  recognition/Xinqian Wang_StyleGAN_s45654897/requirements.txt
  recognition/Xinqian Wang_StyleGAN_s45654897/test.py
  recognition/Xinqian Wang_StyleGAN_s45654897/train.py
Labels: StyleGAN

#231 Perceiver classification on OAI AKOA Image dataset s4580127
  recognition/OAI_AKOA_Perceiver_s4580127/Example_Image.png
  recognition/OAI_AKOA_Perceiver_s4580127/Example_Image2.png
  recognition/OAI_AKOA_Perceiver_s4580127/Perceiver.py
  recognition/OAI_AKOA_Perceiver_s4580127/README.md
  recognition/OAI_AKOA_Perceiver_s4580127/driver.py
  recognition/OAI_AKOA_Perceiver_s4580127/perceiver_architecture.png
  recognition/OAI_AKOA_Perceiver_s4580127/training_plot.png
Labels: Perceiver Transformer

#229 Improved UNet_45464948_JINGYI LI
  .idea/misc.xml
  recognition/45223499_improved_unet/unet.png
  recognition/45464948-ISICs-UNet/README.md
  recognition/45464948-ISICs-UNet/dicfunction.py
  recognition/45464948-ISICs-UNet/images/dice.png
  recognition/45464948-ISICs-UNet/images/improvedunet.png
  recognition/45464948-ISICs-UNet/images/plot1.png
  recognition/45464948-ISICs-UNet/images/plot2.png
  recognition/45464948-ISICs-UNet/images/plot3.png
  recognition/45464948-ISICs-UNet/improvedUNet.ipynb
  recognition/45464948-ISICs-UNet/main.py
  recognition/45464948-ISICs-UNet/preprocesseddata.py
  recognition/45464948-ISICs-UNet/test.py
  recognition/45464948-ISICs-UNet/unetImproved.py
Labels: Improved UNet

#230 Topic recognition
  recognition/4576111-YOLO-ISICs(2018)/README.md
  recognition/4576111-YOLO-ISICs(2018)/driver.ipynb
  recognition/4576111-YOLO-ISICs(2018)/images/ISIC.PNG
  recognition/4576111-YOLO-ISICs(2018)/images/YOLOV1.png
  recognition/4576111-YOLO-ISICs(2018)/images/comparison.PNG
  recognition/4576111-YOLO-ISICs(2018)/images/epochs.PNG
  recognition/4576111-YOLO-ISICs(2018)/images/iou.PNG
  recognition/4576111-YOLO-ISICs(2018)/images/lies.PNG
  recognition/4576111-YOLO-ISICs(2018)/images/modelAccuracry.PNG
  recognition/4576111-YOLO-ISICs(2018)/images/modelLoss.PNG
  recognition/4576111-YOLO-ISICs(2018)/images/results.PNG
  recognition/4576111-YOLO-ISICs(2018)/images/yoloLoss.png
  recognition/4576111-YOLO-ISICs(2018)/model.py
Labels: YOLO

#232 46182856 - VQ-VAE on OASIS dataset
  recognition/VQ_VAE_45182856/README.md
  recognition/VQ_VAE_45182856/images/VQ-VAE.png
  recognition/VQ_VAE_45182856/images/gated_cnn.PNG
  recognition/VQ_VAE_45182856/images/generated_images.png
  recognition/VQ_VAE_45182856/images/masked_convolution.PNG
  recognition/VQ_VAE_45182856/images/reconstruction.png
  recognition/VQ_VAE_45182856/images/sample_images.png
  recognition/VQ_VAE_45182856/model.py
  recognition/VQ_VAE_45182856/paths.py
  recognition/VQ_VAE_45182856/run_sample_images.py
  recognition/VQ_VAE_45182856/run_test_vq_vae.py
  recognition/VQ_VAE_45182856/run_train_prior.py
  recognition/VQ_VAE_45182856/run_train_vq_vae.py
  recognition/VQ_VAE_45182856/test_VQ_VAE.py
  recognition/VQ_VAE_45182856/test_vector_quantizer_and_restnet_block.py
  recognition/VQ_VAE_45182856/visualize_dataset.py
Labels: VQVAE

#236 Improved Unet model
  recognition/s4615653_improved_Unet/Image/Plot_test.png
  recognition/s4615653_improved_Unet/Image/epoch5.png
  recognition/s4615653_improved_Unet/Image/improvedUNet.png
  recognition/s4615653_improved_Unet/Image/result.png
  recognition/s4615653_improved_Unet/README.MD
  recognition/s4615653_improved_Unet/Unet_model.py
  recognition/s4615653_improved_Unet/data_processing.py
  recognition/s4615653_improved_Unet/dice.py
  recognition/s4615653_improved_Unet/main.py
  recognition/s4615653_improved_Unet/plots.py
Labels: invalid, Improved UNet

#237 45662959-YE-StyleGAN
  recognition/45662959_XinchengYE_StyleGAN/README.md
  recognition/45662959_XinchengYE_StyleGAN/images/IN.png
  recognition/45662959_XinchengYE_StyleGAN/images/loss-step2.png
  recognition/45662959_XinchengYE_StyleGAN/images/loss-step3.png
  recognition/45662959_XinchengYE_StyleGAN/images/loss-step4.png
  recognition/45662959_XinchengYE_StyleGAN/images/mix_style.PNG
  recognition/45662959_XinchengYE_StyleGAN/images/real_images.png
  recognition/45662959_XinchengYE_StyleGAN/images/sample128.png
  recognition/45662959_XinchengYE_StyleGAN/images/sample16.png
  recognition/45662959_XinchengYE_StyleGAN/images/sample256.png
  recognition/45662959_XinchengYE_StyleGAN/images/sample32.png
  recognition/45662959_XinchengYE_StyleGAN/images/sample64.png
  recognition/45662959_XinchengYE_StyleGAN/images/sample8.png
  recognition/45662959_XinchengYE_StyleGAN/images/sample_mixing.png
  recognition/45662959_XinchengYE_StyleGAN/images/sample_no_mix.png
  recognition/45662959_XinchengYE_StyleGAN/images/stylegan_generator.PNG
  recognition/45662959_XinchengYE_StyleGAN/model.py
  recognition/45662959_XinchengYE_StyleGAN/preprocessing.py
  recognition/45662959_XinchengYE_StyleGAN/test.py
  recognition/45662959_XinchengYE_StyleGAN/train.py
Labels: StyleGAN

#238 S452842_GCN
  recognition/s4521842_GCN/GCN/data_preprocessing.py
  recognition/s4521842_GCN/GCN/image/GCN_history.png
  recognition/s4521842_GCN/GCN/image/GCN_process.png
  recognition/s4521842_GCN/GCN/image/t-sne.png
  recognition/s4521842_GCN/GCN/model.py
  recognition/s4521842_GCN/GCN/test_drive.py
  recognition/s4521842_GCN/README.md
Labels: GCN

#241 S4659241-GCN
  .DS_Store
  recognition/s4659241-GCN/README.MD
  recognition/s4659241-GCN/algorithm.py
  recognition/s4659241-GCN/images/GCN-3l_structure.png
  recognition/s4659241-GCN/images/accuracy.png
  recognition/s4659241-GCN/images/loss.png
  recognition/s4659241-GCN/images/tsne.png
  recognition/s4659241-GCN/images/tsne90.png
  recognition/s4659241-GCN/images/tsne_pca50.png
  recognition/s4659241-GCN/test.py
Labels: GCN

#242 Topic recognition merge s4079475 John Cominos
  recognition/s4079475/README.md
  recognition/s4079475/Readme_Images/Model_summary.jpeg
  recognition/s4079475/Readme_Images/Results.jpeg
  recognition/s4079475/Readme_Images/Results_2.jpeg
  recognition/s4079475/Readme_Images/Results_3.jpeg
  recognition/s4079475/Readme_Images/Results_old.jpeg
  recognition/s4079475/Readme_Images/UNETStructure.jpeg
  recognition/s4079475/Readme_Images/UNETStructurebase.jpeg
  recognition/s4079475/Readme_Images/model_output.jpeg
  recognition/s4079475/Readme_Images/model_output_3.jpeg
  recognition/s4079475/execute.py
  recognition/s4079475/project.py
  recognition/s4079475/test.txt
Labels: Improved UNet

#244 45827422 Report Submission: Improved U-net ISIC Segmentation
  recognition/45827422_ISIC_Segmenting_Improved_UNET/README.md
  recognition/45827422_ISIC_Segmenting_Improved_UNET/data_preprocess.py
  recognition/45827422_ISIC_Segmenting_Improved_UNET/figures/Figure_1.png
  recognition/45827422_ISIC_Segmenting_Improved_UNET/figures/Figure_2.png
  recognition/45827422_ISIC_Segmenting_Improved_UNET/figures/Model.png
  recognition/45827422_ISIC_Segmenting_Improved_UNET/improved_unet.py
  recognition/45827422_ISIC_Segmenting_Improved_UNET/main.py
Labels: Improved UNet

#245 Topic recognition-Improved UENT_S4413599
  recognition/s4413599/.idea/.gitignore
  recognition/s4413599/DSC_FUNCTION.py
  recognition/s4413599/IMG_Folder/DICE_COE_RESULT.png
  recognition/s4413599/IMG_Folder/DSC_formula.png
  recognition/s4413599/IMG_Folder/history_dsc.png
  recognition/s4413599/IMG_Folder/image_output.png
  recognition/s4413599/IMG_Folder/improved_unet.png
  recognition/s4413599/IMG_Folder/loss_valoss.png
  recognition/s4413599/IMG_Folder/val_train_acc.png
  recognition/s4413599/README.MD
  recognition/s4413599/UNET.py
  recognition/s4413599/helpFunctions.py
  recognition/s4413599/image_load.py
  recognition/s4413599/improved_UNET.py
  recognition/s4413599/main.py
Labels: Improved UNet

#247 Richard Marron - Major Project (Improved U-Net)
  recognition/Richard-Marron-Improved-Unet/Figures/Network.PNG
  recognition/Richard-Marron-Improved-Unet/Figures/Results.png
  recognition/Richard-Marron-Improved-Unet/Figures/dice_acc.png
  recognition/Richard-Marron-Improved-Unet/Figures/dice_acc_small.png
  recognition/Richard-Marron-Improved-Unet/Figures/eval.PNG
  recognition/Richard-Marron-Improved-Unet/Figures/testing.png
  recognition/Richard-Marron-Improved-Unet/Figures/testing_small.png
  recognition/Richard-Marron-Improved-Unet/main.py
  recognition/Richard-Marron-Improved-Unet/output.txt
  recognition/Richard-Marron-Improved-Unet/readme.md
  recognition/Richard-Marron-Improved-Unet/unetModule.py
Labels: Improved UNet

#249 Perceiver
  recognition/an_perceiver/README.md
  recognition/an_perceiver/__main__.py
  recognition/an_perceiver/aoi_akoa.py
  recognition/an_perceiver/aoi_akoa_test.py
  recognition/an_perceiver/experiment.py
  recognition/an_perceiver/figures/accuracy-loss.svg
  recognition/an_perceiver/figures/confusion-matrix.svg
  recognition/an_perceiver/figures/perceiver-detailed.svg
  recognition/an_perceiver/figures/perceiver.svg
  recognition/an_perceiver/layers.py
  recognition/an_perceiver/perceiver.py
  recognition/an_perceiver/position_encoding.py
  recognition/an_perceiver/position_encoding_test.py
  recognition/an_perceiver/preprocessing.py
  recognition/an_perceiver/preprocessing_test.py
  recognition/an_perceiver/requirements.txt
Labels: Perceiver Transformer

#248 Lachlan Taylor s4583004 Improved U-Net Topic-recognition
  recognition/45830048_recognition/Improved_Unet.PNG
  recognition/45830048_recognition/README.md
  recognition/45830048_recognition/accuracy.png
  recognition/45830048_recognition/dice_coeff.png
  recognition/45830048_recognition/driver.py
  recognition/45830048_recognition/example_X.png
  recognition/45830048_recognition/example_result.png
  recognition/45830048_recognition/example_y.png
  recognition/45830048_recognition/model.py
Labels: Improved UNet

#250 Topic recognition - UNet3D Implementation on CSIRO Male Pelvic dataset
  recognition/SS_Unet3D/README.md
  recognition/SS_Unet3D/augmenter.py
  recognition/SS_Unet3D/driver.py
  recognition/SS_Unet3D/model.py
Labels: UNet3D

#251 StyleGAN on OASIS dataset
  algorithms/denoise/README.md
  algorithms/denoise/denoise_tv_bregman/cat.png
  algorithms/image/rank_order/main.py
  algorithms/numbertheory/number_theory/README.md
  algorithms/numbertheory/numbthy.py
  recognition/46395281/Images/brain.gif
  recognition/46395281/Images/brain.png
  recognition/46395281/Images/loss.jpg
  recognition/46395281/Images/proGAN.png
  recognition/46395281/Images/styleGAN.png
  recognition/46395281/README.md
  recognition/46395281/generate.py
  recognition/46395281/model.py
  recognition/46395281/styleGAN.ipynb
  recognition/46395281/train.py
  recognition/DCGAN-OASIS/resources/fake-images.png
Labels: StyleGAN

#252 Topic recognition
  recognition/s45264410/README.md
  recognition/s45264410/driver.py
  recognition/s45264410/images/dice_coiff.png
  recognition/s45264410/images/predicted_img.png
  recognition/s45264410/images/predicted_img2.png
  recognition/s45264410/images/predicted_img3.png
  recognition/s45264410/images/unet_model.png
  recognition/s45264410/main.py
Labels: Improved UNet

#254 45797954 improved UNET
  algorithms/transform/s4371869_radon_transform/requirements.txt
  recognition/Mark_ISIC_UNET/History.png
  recognition/Mark_ISIC_UNET/ImprovedUnet.py
  recognition/Mark_ISIC_UNET/README.md
  recognition/Mark_ISIC_UNET/UnetArch.PNG
  recognition/Mark_ISIC_UNET/UnetData.py
  recognition/Mark_ISIC_UNET/driver.py
  recognition/Mark_ISIC_UNET/predictions.png
  recognition/MySolution/Methods.ipynb
  recognition/MySolution/unet_main.ipynb
Labels: Improved UNet

#258 Topic recognition - Improved Unet s4589098
  recognition/s45890985_Improved_Unet/README.md
  recognition/s45890985_Improved_Unet/driver.py
  recognition/s45890985_Improved_Unet/images/Displayed_Sample.png
  recognition/s45890985_Improved_Unet/images/Loss_accuracy_plots.png
  recognition/s45890985_Improved_Unet/model.py
Labels: Improved UNet

#261 Topic recognition
  recognition/s4569154/README.md
  recognition/s4569154/_result.txt
  recognition/s4569154/labelling.ipynb
  recognition/s4569154/map1000.txt
  recognition/s4569154/map2000.txt
  recognition/s4569154/map3000.txt
  recognition/s4569154/map4000.txt
  recognition/s4569154/map6000.txt
  recognition/s4569154/mapother.txt
  recognition/s4569154/training.ipynb
  recognition/s4569154/validandtest.ipynb
Labels: YOLO

#262 Improved UNet Scoring 0.8 on Test Set
  recognition/2021_ISIC_Improved_UNet/README.md
  recognition/2021_ISIC_Improved_UNet/driver.py
  recognition/2021_ISIC_Improved_UNet/images/DiceCoefficient.png
  recognition/2021_ISIC_Improved_UNet/images/ExampleISIC.jpg
  recognition/2021_ISIC_Improved_UNet/images/ExampleISIC_Segmentation.png
  recognition/2021_ISIC_Improved_UNet/images/Figure_1.png
  recognition/2021_ISIC_Improved_UNet/images/Figure_10.png
  recognition/2021_ISIC_Improved_UNet/images/Figure_2.png
  recognition/2021_ISIC_Improved_UNet/images/Figure_20.png
  recognition/2021_ISIC_Improved_UNet/images/Figure_22.png
  recognition/2021_ISIC_Improved_UNet/images/Figure_5.png
  recognition/2021_ISIC_Improved_UNet/images/Figure_6.png
  recognition/2021_ISIC_Improved_UNet/images/ImprovedUNetArchitecture.png
  recognition/2021_ISIC_Improved_UNet/images/histogram.png
  recognition/2021_ISIC_Improved_UNet/images/modelMetrics.png
  recognition/2021_ISIC_Improved_UNet/model.py
Labels: Improved UNet

#263 45880472 VQ-VAE
  recognition/s4588047/README.md
  recognition/s4588047/data_loader.py
  recognition/s4588047/driver.py
  recognition/s4588047/model.py
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004610.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004616.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004619.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004623.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004629.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004633.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004637.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004643.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004701.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004725.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004734.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 004827.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 005016.png
  recognition/s4588047/outputs/100 epochs/Figure 2021-10-31 114344.png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120358 (0).png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120358 (1).png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120358 (2).png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120358 (3).png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120358 (4).png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120358 (5).png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120358 (6).png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120358 (7).png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120358 (8).png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120358 (9).png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 120432.png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-27 121450.png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-30 233900.png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-30 234040.png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-30 234209.png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-30 234759.png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-30 235556.png
  recognition/s4588047/outputs/20 epochs/Figure 2021-10-30 235654.png
  recognition/s4588047/requirements.txt
  recognition/s4588047/resources/model_overview.png
Labels: VQVAE

#264 VQ-VAE with the OASIS dataset for image generation
  recognition/s4581991-vqvae/.gitignore
  recognition/s4581991-vqvae/OASIS_sample.png
  recognition/s4581991-vqvae/PixelCNN_loss.png
  recognition/s4581991-vqvae/README.md
  recognition/s4581991-vqvae/VQVAE_loss.png
  recognition/s4581991-vqvae/driver.py
  recognition/s4581991-vqvae/generated_summary.png
  recognition/s4581991-vqvae/model.py
  recognition/s4581991-vqvae/recreation.png
  recognition/s4581991-vqvae/requirements.txt
Labels: VQVAE

#265 s4530770 - Improved Unet Implementation
  recognition/s4530770_Improved_Unet/Docs/Figure_1_64_filters.png
  recognition/s4530770_Improved_Unet/Docs/Figure_2_64_filters.png
  recognition/s4530770_Improved_Unet/Docs/Figure_3_64_filters.png
  recognition/s4530770_Improved_Unet/Docs/Figure_4.png
  recognition/s4530770_Improved_Unet/Docs/Figure_4_64_filters.png
  recognition/s4530770_Improved_Unet/Docs/modified_unet.PNG
  recognition/s4530770_Improved_Unet/README.md
  recognition/s4530770_Improved_Unet/data_loader.py
  recognition/s4530770_Improved_Unet/driver.py
  recognition/s4530770_Improved_Unet/improved_unet.py
  recognition/s4530770_Improved_Unet/trainer.py
Labels: Improved UNet

#266 45801150 - Task 6 Generative VQVAE for OASIS dataset
  .idea/PatternFlow.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/modules.xml
  recognition/45801150_Task6_VQVAE/src/PixelCNN.py
  recognition/45801150_Task6_VQVAE/src/README.md
  recognition/45801150_Task6_VQVAE/src/VQVAE.py
  recognition/45801150_Task6_VQVAE/src/driver.py
  recognition/45801150_Task6_VQVAE/src/load_oasis_data.py
  recognition/45801150_Task6_VQVAE/src/visualiser.py
Labels: VQVAE

#267 Task 1: Improved UNET on ISICs - 45820188
  recognition/45820188-UNET/Images/Dice Value.png
  recognition/45820188-UNET/Images/Expected Output.png
  recognition/45820188-UNET/Images/Improved UNET.png
  recognition/45820188-UNET/Images/Input Image.jpg
  recognition/45820188-UNET/Images/Loss Value.png
  recognition/45820188-UNET/Images/Sample Output.png
  recognition/45820188-UNET/README.md
  recognition/45820188-UNET/Training Output.txt
  recognition/45820188-UNET/driver.py
  recognition/45820188-UNET/model.py
Labels: Improved UNet

#268 45737455 - Ruiling Chen - Task 1 Improved UNet
  recognition/45737455-Segment_ISICs/README.md
  recognition/45737455-Segment_ISICs/driver.py
  recognition/45737455-Segment_ISICs/images/data_samples.png
  recognition/45737455-Segment_ISICs/images/example_test_results.png
  recognition/45737455-Segment_ISICs/images/implemented_architecture.png
  recognition/45737455-Segment_ISICs/images/improved_UNet_architecture.png
  recognition/45737455-Segment_ISICs/model.py
Labels: Improved UNet

#269 VQVAE: Generative model of the OASIS Brain
  recognition/s4586114-VQVAE/README.md
  recognition/s4586114-VQVAE/VQVAE.py
  recognition/s4586114-VQVAE/driver_script.ipynb
  recognition/s4586114-VQVAE/pixelcnn.py
Labels: VQVAE

#272 Topic recognition - Improved UNet on ISIC data
  recognition/ISIC-ImprovedUnet-44961374/README.md
  recognition/ISIC-ImprovedUnet-44961374/data_loader.py
  recognition/ISIC-ImprovedUnet-44961374/driver.py
  recognition/ISIC-ImprovedUnet-44961374/images/accuracy.png
  recognition/ISIC-ImprovedUnet-44961374/images/dsc.png
  recognition/ISIC-ImprovedUnet-44961374/images/improved-unet.png
  recognition/ISIC-ImprovedUnet-44961374/images/input.jpg
  recognition/ISIC-ImprovedUnet-44961374/images/mask.png
  recognition/ISIC-ImprovedUnet-44961374/images/results.png
  recognition/ISIC-ImprovedUnet-44961374/images/unet.png
  recognition/ISIC-ImprovedUnet-44961374/license.txt
  recognition/ISIC-ImprovedUnet-44961374/model.py
  recognition/ISIC-ImprovedUnet-44961374/utilities.py
  recognition/ISICs_Unet/README.md
Labels: Improved UNet

#273 Topic recognition
  recognition/s4565705/README.md
  recognition/s4565705/label.py
  recognition/s4565705/result_1.txt
  recognition/s4565705/result_2.txt
  recognition/s4565705/result_3.txt
  recognition/s4565705/yolo test.ipynb
  recognition/s4565705/yolo train.ipynb
  recognition/s4565705/yolov3_1.cfg
  recognition/s4565705/yolov3_2.cfg
  recognition/s4565705/yolov3_3.cfg
Labels: YOLO

#274 Completed Easy Task Image Segmentation with Improved UNet.
  recognition/s4524723_UNet_ISIC/README.md
  recognition/s4524723_UNet_ISIC/driver.py
  recognition/s4524723_UNet_ISIC/requirements.txt
  recognition/s4524723_UNet_ISIC/resources/accuracy_curve.png
  recognition/s4524723_UNet_ISIC/resources/example_image.jpg
  recognition/s4524723_UNet_ISIC/resources/example_mask.png
  recognition/s4524723_UNet_ISIC/resources/loss_curve.png
  recognition/s4524723_UNet_ISIC/resources/model.png
  recognition/s4524723_UNet_ISIC/resources/prediction1.png
  recognition/s4524723_UNet_ISIC/resources/prediction2.png
  recognition/s4524723_UNet_ISIC/unet_isic.py
Labels: Improved UNet

#277 YoloV3 ISIC lesion detection Ziliang Wang 45236499
  recognition/yolo-task-Ziliang-Wang/.idea/.gitignore
  recognition/yolo-task-Ziliang-Wang/.idea/codeStyles/Project.xml
  recognition/yolo-task-Ziliang-Wang/.idea/codeStyles/codeStyleConfig.xml
  recognition/yolo-task-Ziliang-Wang/.idea/inspectionProfiles/Project_Default.xml
  recognition/yolo-task-Ziliang-Wang/.idea/inspectionProfiles/profiles_settings.xml
  recognition/yolo-task-Ziliang-Wang/.idea/misc.xml
  recognition/yolo-task-Ziliang-Wang/.idea/modules.xml
  recognition/yolo-task-Ziliang-Wang/.idea/vcs.xml
  recognition/yolo-task-Ziliang-Wang/.idea/yolo-task-Ziliang-Wang.iml
  recognition/yolo-task-Ziliang-Wang/README.md
  recognition/yolo-task-Ziliang-Wang/dataset/Annotations/README.md
  recognition/yolo-task-Ziliang-Wang/dataset/Annotations/making_xml.py
  recognition/yolo-task-Ziliang-Wang/dataset/JPEGImages/README.md
  recognition/yolo-task-Ziliang-Wang/driver.py
  recognition/yolo-task-Ziliang-Wang/making_annotation.py
  recognition/yolo-task-Ziliang-Wang/model/README.md
  recognition/yolo-task-Ziliang-Wang/model/__init__.py
  recognition/yolo-task-Ziliang-Wang/model/model.py
  recognition/yolo-task-Ziliang-Wang/model/yolo_loss.py
  recognition/yolo-task-Ziliang-Wang/results/README.md
  recognition/yolo-task-Ziliang-Wang/summary.py
  recognition/yolo-task-Ziliang-Wang/test.py
  recognition/yolo-task-Ziliang-Wang/train.py
  recognition/yolo-task-Ziliang-Wang/yolo.py
  recognition/yolo-task-Ziliang-Wang/yolo_utils/README.md
  recognition/yolo-task-Ziliang-Wang/yolo_utils/__init__.py
  recognition/yolo-task-Ziliang-Wang/yolo_utils/dataloader.py
  recognition/yolo-task-Ziliang-Wang/yolo_utils/early_stop.py
  recognition/yolo-task-Ziliang-Wang/yolo_utils/plot.py
  recognition/yolo-task-Ziliang-Wang/yolo_utils/utils.py
  recognition/yolo-task-Ziliang-Wang/yolo_utils/utils_bbox.py
Labels: YOLO

#281 Image Segmentation with an Improved UNet Model - Thomas Petersen - 45872093
  recognition/ISIC_Segmentation_UNet_s4587209/Examples/ModelLossPerformance.png
  recognition/ISIC_Segmentation_UNet_s4587209/Examples/ModelPerformance.png
  recognition/ISIC_Segmentation_UNet_s4587209/Examples/PredictedExample.png
  recognition/ISIC_Segmentation_UNet_s4587209/Examples/model.png
  recognition/ISIC_Segmentation_UNet_s4587209/driver.py
  recognition/ISIC_Segmentation_UNet_s4587209/license.txt
  recognition/ISIC_Segmentation_UNet_s4587209/model.py
  recognition/ISIC_Segmentation_UNet_s4587209/readme.md
Labels: Improved UNet

#282 44828374 - OASIS VQVAE
  recognition/OASIS_VQVAE/.gitignore
  recognition/OASIS_VQVAE/README.md
  recognition/OASIS_VQVAE/driver.py
  recognition/OASIS_VQVAE/pixelcnn.py
  recognition/OASIS_VQVAE/requirements.txt
  recognition/OASIS_VQVAE/resources/codebook_results.png
  recognition/OASIS_VQVAE/resources/decoder_network.png
  recognition/OASIS_VQVAE/resources/encoder_network.png
  recognition/OASIS_VQVAE/resources/loss_plot.png
  recognition/OASIS_VQVAE/resources/pixelcnn.png
  recognition/OASIS_VQVAE/resources/samples.png
  recognition/OASIS_VQVAE/resources/ssim_plot.png
  recognition/OASIS_VQVAE/resources/vqvae_diagram.png
  recognition/OASIS_VQVAE/vqvae.py
Labels: VQVAE

#287 45882999 Improved UNet
  recognition/45882999_Improved_UNet/Driver.py
  recognition/45882999_Improved_UNet/Images/accuracy.png
  recognition/45882999_Improved_UNet/Images/loss.png
  recognition/45882999_Improved_UNet/Model.py
  recognition/45882999_Improved_UNet/README.md
Labels: Improved UNet

#289 44802020 - Facebook GCN
  .idea/vcs.xml
  recognition/44802020_facebook_gcn/README.md
  recognition/44802020_facebook_gcn/driver.py
  recognition/44802020_facebook_gcn/myGraphModel.py
  recognition/44802020_facebook_gcn/resources/Learning_(200).png
  recognition/44802020_facebook_gcn/resources/TSNE_Plot_(Test Data).png
  recognition/44802020_facebook_gcn/resources/TSNE_Plot_(Train Data).png
Labels: GCN

#290 Topic recognition
  recognition/S46070337/README.md
  recognition/S46070337/Screenshots/Improved unet.png
  recognition/S46070337/Screenshots/README.md
  recognition/S46070337/Screenshots/Unet.png
  recognition/S46070337/Screenshots/evaluation_curve.png
  recognition/S46070337/Screenshots/ground_truth.png
  recognition/S46070337/Screenshots/prediction.png
  recognition/S46070337/model.py
  recognition/S46070337/test.py
Labels: Improved UNet

#294 Topic recognition
  recognition/s4587349_UNet3D_Prostate/Images/3dunet_Cikek_etal.png
  recognition/s4587349_UNet3D_Prostate/Images/DSC_score_50_epochs.png
  recognition/s4587349_UNet3D_Prostate/Images/Input_Image.png
  recognition/s4587349_UNet3D_Prostate/Images/accuracy.png
  recognition/s4587349_UNet3D_Prostate/Images/loss.png
  recognition/s4587349_UNet3D_Prostate/Images/pred_argmax.png
  recognition/s4587349_UNet3D_Prostate/Images/pred_background.png
  recognition/s4587349_UNet3D_Prostate/Images/pred_bladder.png
  recognition/s4587349_UNet3D_Prostate/Images/pred_body.png
  recognition/s4587349_UNet3D_Prostate/Images/pred_bones.png
  recognition/s4587349_UNet3D_Prostate/Images/pred_prostate.png
  recognition/s4587349_UNet3D_Prostate/Images/pred_rectum.png
  recognition/s4587349_UNet3D_Prostate/Images/slice.png
  recognition/s4587349_UNet3D_Prostate/Images/slice_1.png
  recognition/s4587349_UNet3D_Prostate/Images/slice_2.png
  recognition/s4587349_UNet3D_Prostate/Images/train_val_test_allocation.png
  recognition/s4587349_UNet3D_Prostate/Images/true_background.png
  recognition/s4587349_UNet3D_Prostate/Images/true_bladder.png
  recognition/s4587349_UNet3D_Prostate/Images/true_body.png
  recognition/s4587349_UNet3D_Prostate/Images/true_bones.png
  recognition/s4587349_UNet3D_Prostate/Images/true_prostate.png
  recognition/s4587349_UNet3D_Prostate/Images/true_rectum.png
  recognition/s4587349_UNet3D_Prostate/Images/unet3d.png
  recognition/s4587349_UNet3D_Prostate/Images/y_true.png
  recognition/s4587349_UNet3D_Prostate/README.md
  recognition/s4587349_UNet3D_Prostate/driver.py
  recognition/s4587349_UNet3D_Prostate/license.txt
  recognition/s4587349_UNet3D_Prostate/support_methods.py
  recognition/s4587349_UNet3D_Prostate/unet_model.py
Labels: UNet3D

#295 s4656406 UNet final one
  recognition/s4656406/README.md
  recognition/s4656406/accuracy_loss.png
  recognition/s4656406/driver.py
  recognition/s4656406/improved_unet.png
  recognition/s4656406/model.py
  recognition/s4656406/pred.png
Labels: Improved UNet

#297 Topic recognition
  recognition/4617292_Perceiver/README.md
  recognition/4617292_Perceiver/driver.ipynb
  recognition/4617292_Perceiver/model.py
  recognition/4617292_Perceiver/start.py
Labels: Perceiver Transformer

#298 Generative model of the OASIS brain data set using StyleGAN2
  recognition/s4582921_OASIS_StyleGAN/.gitignore
  recognition/s4582921_OASIS_StyleGAN/README.md
  recognition/s4582921_OASIS_StyleGAN/discriminator.py
  recognition/s4582921_OASIS_StyleGAN/driver.py
  recognition/s4582921_OASIS_StyleGAN/gan.py
  recognition/s4582921_OASIS_StyleGAN/generator.py
  recognition/s4582921_OASIS_StyleGAN/images/glosses.png
  recognition/s4582921_OASIS_StyleGAN/images/hlosses.png
  recognition/s4582921_OASIS_StyleGAN/images/samples.png
  recognition/s4582921_OASIS_StyleGAN/images/stylegan.png
  recognition/s4582921_OASIS_StyleGAN/images/stylegan2.png
  recognition/s4582921_OASIS_StyleGAN/layers.py
Labels: StyleGAN

#301 s4012681 UNet3D MRI Segmentation
  recognition/s4012681/README.md
  recognition/s4012681/driver.py
  recognition/s4012681/images/acc_loss.png
  recognition/s4012681/images/pred_6_crop.png
  recognition/s4012681/images/unet_architecture.png
  recognition/s4012681/unet.py
Labels: UNet3D

#303 45525803: 3D U-Net (Task 4)
  recognition/45525803-unet3d/README.md
  recognition/45525803-unet3d/driver.py
  recognition/45525803-unet3d/images/history.png
  recognition/45525803-unet3d/images/test-10.png
  recognition/45525803-unet3d/images/test-7.png
  recognition/45525803-unet3d/model.py
  recognition/45525803-unet3d/process_data.py
  recognition/45525803-unet3d/test.py
Labels: UNet3D

#307 s4589325 OAI AKOA Perceiver
  recognition/s4589325-OAI-AKOA-Perceiver/Driver_Script.py
  recognition/s4589325-OAI-AKOA-Perceiver/Images/Accuracy.png
  recognition/s4589325-OAI-AKOA-Perceiver/Images/Accuracy_Plot.png
  recognition/s4589325-OAI-AKOA-Perceiver/Images/Loss_Plot.png
  recognition/s4589325-OAI-AKOA-Perceiver/Images/Result.png
  recognition/s4589325-OAI-AKOA-Perceiver/Images/perceiver.png
  recognition/s4589325-OAI-AKOA-Perceiver/OAI_AKOA_Perceiver.py
  recognition/s4589325-OAI-AKOA-Perceiver/Parameters.py
  recognition/s4589325-OAI-AKOA-Perceiver/README.md
  recognition/s4589325-OAI-AKOA-Perceiver/slurp.sh
Labels: Perceiver Transformer

#313 COMP 3710 Report submission 45471861
  recognition/45471861_StyleGAN/.gitignore
  recognition/45471861_StyleGAN/Images/6-Figure7-1.png
  recognition/45471861_StyleGAN/Images/AdaIN_epoch_0.png
  recognition/45471861_StyleGAN/Images/AdaIN_epoch_10.png
  recognition/45471861_StyleGAN/Images/AdaIN_epoch_5.png
  recognition/45471861_StyleGAN/Images/DCGAN_epoch_0.png
  recognition/45471861_StyleGAN/Images/DCGAN_epoch_10.png
  recognition/45471861_StyleGAN/Images/DCGAN_epoch_5.png
  recognition/45471861_StyleGAN/Images/Resnet_epoch_0.png
  recognition/45471861_StyleGAN/Images/Resnet_epoch_10.png
  recognition/45471861_StyleGAN/Images/Resnet_epoch_5.png
  recognition/45471861_StyleGAN/Images/WGAN_comparison.001.jpeg
  recognition/45471861_StyleGAN/Images/WGAN_epoch_0.png
  recognition/45471861_StyleGAN/Images/WGAN_epoch_10.png
  recognition/45471861_StyleGAN/Images/WGAN_epoch_5.png
  recognition/45471861_StyleGAN/Images/adain_comparison.001.jpeg
  recognition/45471861_StyleGAN/Images/alpha_progressive.png
  recognition/45471861_StyleGAN/Images/epoch_39.png
  recognition/45471861_StyleGAN/Images/fade_in_equ.png
  recognition/45471861_StyleGAN/Images/resnet_comparision.001.jpeg
  recognition/45471861_StyleGAN/environment.yaml
  recognition/45471861_StyleGAN/models.py
  recognition/45471861_StyleGAN/readme.md
  recognition/45471861_StyleGAN/run.py
  recognition/45471861_StyleGAN/setup.py
  recognition/45471861_StyleGAN/test.sh
  recognition/45471861_StyleGAN/train.py
Labels: StyleGAN

#315 Topic recognition
  recognition/unet3d/images/The-3D-Unet-model.png
  recognition/unet3d/images/The_128th_slice_of_result.png
  recognition/unet3d/images/The_128th_slice_of_unet_aug1.png
  recognition/unet3d/images/The_1th_slice_of_unet_aug1.png
  recognition/unet3d/images/The_33th_slice_of_result.png
  recognition/unet3d/images/The_33th_slice_of_unet_aug1.png
  recognition/unet3d/images/The_65th_slice_of_result.png
  recognition/unet3d/images/The_65th_slice_of–unet_aug1.png
  recognition/unet3d/images/epoch.png
  recognition/unet3d/images/model_summary.png
  recognition/unet3d/images/unet_aug1_loss.png
  recognition/unet3d/main.py
  recognition/unet3d/methods.py
  recognition/unet3d/model.py
  recognition/unet3d/readme.md
Labels: UNet3D

#318 s46307266 Improved Unet Pull Request
  recognition/s4630726-imp-unet/README.md
  recognition/s4630726-imp-unet/main.py
  recognition/s4630726-imp-unet/model.py
Labels: Improved UNet

#319 46066853 VQ-VAE based generator
  recognition/46066853-generative-VQVAE/README.md
  recognition/46066853-generative-VQVAE/driver.ipynb
  recognition/46066853-generative-VQVAE/images/dcgan.png
  recognition/46066853-generative-VQVAE/images/result.png
  recognition/46066853-generative-VQVAE/images/vqvae.png
  recognition/46066853-generative-VQVAE/images/vqvae_elems.png
  recognition/46066853-generative-VQVAE/model/__init__.py
  recognition/46066853-generative-VQVAE/model/decoder.py
  recognition/46066853-generative-VQVAE/model/discriminator.py
  recognition/46066853-generative-VQVAE/model/encoder.py
  recognition/46066853-generative-VQVAE/model/generator.py
  recognition/46066853-generative-VQVAE/model/residualBlock.py
  recognition/46066853-generative-VQVAE/model/vector_quantizer.py
  recognition/46066853-generative-VQVAE/model/vqvae.py
Labels: VQVAE

#322 s4581883 Improved UNet
  recognition/s4581883-ISICs-UNet/figures/,gitkeep
  recognition/s4581883-ISICs-UNet/figures/ISIC_0000013.jpg
  recognition/s4581883-ISICs-UNet/figures/ISIC_0000013_segmentation.png
  recognition/s4581883-ISICs-UNet/figures/architecture.JPG
  recognition/s4581883-ISICs-UNet/main.py
  recognition/s4581883-ISICs-UNet/readme.md
  recognition/s4581883-ISICs-UNet/unet.py
Labels: Improved UNet

#323 Topic recognition
  recognition/zahra_YOLO/150150.png
  recognition/zahra_YOLO/README.md
  recognition/zahra_YOLO/annotation.py
  recognition/zahra_YOLO/config/OASIS.data
  recognition/zahra_YOLO/config/OASIS.names
  recognition/zahra_YOLO/config/yolov3.cfg
  recognition/zahra_YOLO/data/ISIS/train.txt
  recognition/zahra_YOLO/data/ISIS/val.txt
  recognition/zahra_YOLO/detection.py
  recognition/zahra_YOLO/main_driver.py
  recognition/zahra_YOLO/models.py
  recognition/zahra_YOLO/train.py
  recognition/zahra_YOLO/train_test_split.py
  recognition/zahra_YOLO/utils/parse_config.py
  recognition/zahra_YOLO/utils/preprocess.py
  recognition/zahra_YOLO/utils/utils.py
Labels: YOLO

#324 3D UNet for Pelvis Dataset
  recognition/s4580429 Prostate Unet3D/README.md
  recognition/s4580429 Prostate Unet3D/dataset/extract_data_here.txt
  recognition/s4580429 Prostate Unet3D/driver.py
  recognition/s4580429 Prostate Unet3D/images/compare.png
  recognition/s4580429 Prostate Unet3D/images/dice.png
  recognition/s4580429 Prostate Unet3D/model.py
  recognition/s4580429 Prostate Unet3D/restore_model.py
Labels: UNet3D

#325 s4482727: Improved UNet
  recognition/s4482727/README.md
  recognition/s4482727/dice.py
  recognition/s4482727/driver.py
  recognition/s4482727/example_output.png
  recognition/s4482727/iunet.py
Labels: Improved UNet

#327 s4587281 Improved Unet for 2018 ISICs Segmentation
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/Driver.py
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/Model.py
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/README.md
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/README_Images/Comparison_1.png
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/README_Images/Comparison_2.png
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/README_Images/Comparison_3.png
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/README_Images/Comparison_4.png
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/README_Images/Comparison_5.png
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/README_Images/Dice_Coefficient_Graph.png
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/README_Images/Improved_Unet_Structure.png
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/README_Images/Loss_Graph.png
  recognition/s4587281_Byron_Downey_ISIC_Improved_Unet_Segmentation/README_Images/test_Dice_Coefficient.png
Labels: Improved UNet

#328 s4528612-OAI-AKOA-knee-data-Perceiver
  recognition/s4528612/Images/Accuracies.PNG
  recognition/s4528612/Images/Knee_samples.PNG
  recognition/s4528612/Images/Train_test_accuracies.PNG
  recognition/s4528612/README.md
  recognition/s4528612/driver.py
  recognition/s4528612/model.py
Labels: Perceiver Transformer

#329 45797851 - Facebook GCN
  recognition/FacebookNetworkGCN/FacebookNetworkGCN.ipynb
  recognition/FacebookNetworkGCN/README.md
  recognition/FacebookNetworkGCN/accuracy.png
  recognition/FacebookNetworkGCN/gcnlayer.JPG
  recognition/FacebookNetworkGCN/graph.png
  recognition/FacebookNetworkGCN/loss.png
  recognition/FacebookNetworkGCN/tsne.png
Labels: GCN

#330 s4622574
  recognition/s4622574/README.md
  recognition/s4622574/attention.py
  recognition/s4622574/fourier_encode.py
  recognition/s4622574/main.py
  recognition/s4622574/perceiver.py
  recognition/s4622574/resources/architecture.png
  recognition/s4622574/resources/result.png
Labels: Perceiver Transformer

#332 Topic recognition
  recognition/s4447019-VQVAE/README.md
  recognition/s4447019-VQVAE/driver.py
  recognition/s4447019-VQVAE/images/results1.PNG
  recognition/s4447019-VQVAE/images/results2.PNG
  recognition/s4447019-VQVAE/images/results3.PNG
  recognition/s4447019-VQVAE/images/ssim1.png
  recognition/s4447019-VQVAE/images/ssim2.png
  recognition/s4447019-VQVAE/images/vqvaemodel.PNG
  recognition/s4447019-VQVAE/model.py
Labels: VQVAE

#333 Topic recognition
  recognition/.DS_Store
  recognition/s4529767-stylegan/README.md
  recognition/s4529767-stylegan/previews/case_017_slice_15.nii.png
  recognition/s4529767-stylegan/previews/case_018_slice_20.nii.png
  recognition/s4529767-stylegan/previews/generated-105800.png
  recognition/s4529767-stylegan/previews/generated-112600.png
  recognition/s4529767-stylegan/previews/generated-138000.png
  recognition/s4529767-stylegan/previews/generated-147000.png
  recognition/s4529767-stylegan/previews/generated-148000.png
  recognition/s4529767-stylegan/previews/generated-164600.png
  recognition/s4529767-stylegan/previews/generated-166600.png
  recognition/s4529767-stylegan/previews/generated-167600.png
  recognition/s4529767-stylegan/previews/generated-62000.png
  recognition/s4529767-stylegan/previews/generated-73500.png
  recognition/s4529767-stylegan/previews/generated-82800.png
  recognition/s4529767-stylegan/previews/generated-87900.png
  recognition/s4529767-stylegan/previews/generated-90600.png
  recognition/s4529767-stylegan/previews/style-based-generator.png
  recognition/s4529767-stylegan/run_stylegan.py
  recognition/s4529767-stylegan/tk_model.py
  recognition/s4529767-stylegan/tk_train.py
  recognition/s4529767-stylegan/training_arguments.py
Labels: StyleGAN

#334 45678044 - Generative model of the OASIS Brain dataset using VQ-VAE
  recognition/45678044/README.md
  recognition/45678044/helper.py
  recognition/45678044/images/generated_imgs.png
  recognition/45678044/images/generated_imgs2.png
  recognition/45678044/images/generated_q.png
  recognition/45678044/images/generated_q2.png
  recognition/45678044/images/original.png
  recognition/45678044/images/prior_train_status.png
  recognition/45678044/images/reconst.png
  recognition/45678044/images/test_imgs.png
  recognition/45678044/images/test_q.png
  recognition/45678044/images/vqvae.PNG
  recognition/45678044/images/vqvae_train_status.png
  recognition/45678044/jupyter_nbs/pixelcnn.ipynb
  recognition/45678044/jupyter_nbs/test.ipynb
  recognition/45678044/jupyter_nbs/vqvae.ipynb
  recognition/45678044/modules.py
  recognition/45678044/vqvae.py
Labels: VQVAE

#335 s4433723 AKOA Perceiver Transformer
  .gitignore
  recognition/s4433723_AKOA_laterality_perceiver/.gitignore
  recognition/s4433723_AKOA_laterality_perceiver/README.md
  recognition/s4433723_AKOA_laterality_perceiver/driver.py
  recognition/s4433723_AKOA_laterality_perceiver/images/input_train_image.png
  recognition/s4433723_AKOA_laterality_perceiver/images/left_eg.png
  recognition/s4433723_AKOA_laterality_perceiver/images/perceiver_architecture.png
  recognition/s4433723_AKOA_laterality_perceiver/images/right_eg.png
  recognition/s4433723_AKOA_laterality_perceiver/images/test_acc_128.png
  recognition/s4433723_AKOA_laterality_perceiver/images/test_acc_16_actual.png
  recognition/s4433723_AKOA_laterality_perceiver/images/test_acc_32.png
  recognition/s4433723_AKOA_laterality_perceiver/images/training_128.png
  recognition/s4433723_AKOA_laterality_perceiver/images/training_16.png
  recognition/s4433723_AKOA_laterality_perceiver/images/training_32.png
  recognition/s4433723_AKOA_laterality_perceiver/images/training_inputs.png
  recognition/s4433723_AKOA_laterality_perceiver/model.py
  recognition/s4433723_AKOA_laterality_perceiver/requirements.txt
Labels: Perceiver Transformer

#337 s4582413 comp3710 report
  recognition/s4582413/CrossAttention.py
  recognition/s4582413/FourierEncode.py
  recognition/s4582413/Perceiver.py
  recognition/s4582413/README.md
  recognition/s4582413/images/Accuracy_loss_graph.PNG
  recognition/s4582413/images/Cross_attention_layer.PNG
  recognition/s4582413/images/Perceiver_architecture.PNG
  recognition/s4582413/images/Perceiver_result.PNG
  recognition/s4582413/images/prediction_sample.PNG
  recognition/s4582413/images/training_process_output.PNG
  recognition/s4582413/images/transformer_layer.PNG
  recognition/s4582413/layers.py
  recognition/s4582413/preprocess_data.py
Labels: Perceiver Transformer

#339 s4513350 - Improved U-Net Model for ISIC Dataset
  recognition/ISICs_Unet/README.md
  recognition/Yiyun_ISIC/README.md
  recognition/Yiyun_ISIC/data.py
  recognition/Yiyun_ISIC/datasets/Put_ISIC2018_Task1-2_Training_Input_Here
  recognition/Yiyun_ISIC/datasets/Put_ISIC2018_Task1_Training_GroundTruth_Here
  recognition/Yiyun_ISIC/demo.ipynb
  recognition/Yiyun_ISIC/images/Improved_UNet.png
  recognition/Yiyun_ISIC/images/Standard_UNet.png
  recognition/Yiyun_ISIC/images/mask_example.png
  recognition/Yiyun_ISIC/images/plot_metrics_sample.png
  recognition/Yiyun_ISIC/images/plot_sample.png
  recognition/Yiyun_ISIC/images/skin_example.jpg
  recognition/Yiyun_ISIC/main.py
  recognition/Yiyun_ISIC/metrics.py
  recognition/Yiyun_ISIC/model.py
  recognition/Yiyun_ISIC/plots.py
  recognition/Yiyun_ISIC/requirements.txt
Labels: Improved UNet

#341 CSIRO 3D Prostate UNET Application
  recognition/ProstateUNET3D_45816145/.gitignore
  recognition/ProstateUNET3D_45816145/driver.py
  recognition/ProstateUNET3D_45816145/figures/training_log.jpg
  recognition/ProstateUNET3D_45816145/figures/unet_overview.jpg
  recognition/ProstateUNET3D_45816145/model.py
  recognition/ProstateUNET3D_45816145/readme.md
Labels: UNet3D

#342 Topic recognition
  recognition/s4583040/README.md
  recognition/s4583040/UNet_model.py
  recognition/s4583040/figures/improved_unet_schematic.png
  recognition/s4583040/figures/past_commit_logs.png
  recognition/s4583040/figures/results.png
  recognition/s4583040/main.py
  recognition/s4583040/preprocessing.py
Labels: Improved UNet

#343 Topic recognition pull request
  recognition/45584211_Improved_UNet/driver.py
  recognition/45584211_Improved_UNet/model.py
  recognition/45584211_Improved_UNet/readme.md
Labels: Improved UNet

#345 Lesion detection with YOLOX
  recognition/s4574278/.editorconfig
  recognition/s4574278/.gitignore
  recognition/s4574278/.idea/.gitignore
  recognition/s4574278/.idea/inspectionProfiles/profiles_settings.xml
  recognition/s4574278/.idea/misc.xml
  recognition/s4574278/.idea/modules.xml
  recognition/s4574278/.idea/other.xml
  recognition/s4574278/.idea/s4574278.iml
  recognition/s4574278/.idea/vcs.xml
  recognition/s4574278/README.md
  recognition/s4574278/data.py
  recognition/s4574278/images/SiLU.png
  recognition/s4574278/images/curve.png
  recognition/s4574278/images/merged-epoch17-0.5.jpg
  recognition/s4574278/images/merged-epoch37-0.5.jpg
  recognition/s4574278/images/merged.jpg
  recognition/s4574278/loss.py
  recognition/s4574278/misc/.condarc
  recognition/s4574278/misc/slurm_script.sh
  recognition/s4574278/misc/tools.yaml
  recognition/s4574278/model.py
  recognition/s4574278/prepare.sh
  recognition/s4574278/preprocess.ipynb
  recognition/s4574278/test.py
  recognition/s4574278/train.py
  recognition/s4574278/utils.py
Labels: YOLO

#348 s44935209_Topic recognition
  recognition/s44935209/Data_Loader.py
  recognition/s44935209/ISIC_images/ISIC_0000001.jpg
  recognition/s44935209/ISIC_images/ISIC_0000001_segmentation.png
  recognition/s44935209/ISIC_images/ISIC_0000003.jpg
  recognition/s44935209/ISIC_images/ISIC_0000003_segmentation.png
  recognition/s44935209/ISIC_images/ISIC_0000004.jpg
  recognition/s44935209/ISIC_images/ISIC_0000004_segmentation.png
  recognition/s44935209/ISIC_images/Notes
  recognition/s44935209/Metrics.py
  recognition/s44935209/Models.py
  recognition/s44935209/README.md
  recognition/s44935209/demo.ipynb
  recognition/s44935209/image.py
  recognition/s44935209/losses.py
  recognition/s44935209/ploting.py
  recognition/s44935209/result_images/L_0_epoch_0.png
  recognition/s44935209/result_images/L_1_epoch_1.png
  recognition/s44935209/result_images/L_2_epoch_2.png
  recognition/s44935209/result_images/L_3_epoch_3.png
  recognition/s44935209/result_images/L_4_epoch_4.png
  recognition/s44935209/result_images/L_5_epoch_5.png
  recognition/s44935209/result_images/L_6_epoch_6.png
  recognition/s44935209/result_images/L_7_epoch_7.png
  recognition/s44935209/result_images/L_8_epoch_8.png
  recognition/s44935209/result_images/L_9_epoch_9.png
  recognition/s44935209/result_images/Tets_Dice_IoU.png
  recognition/s44935209/result_images/att-r2u.png
  recognition/s44935209/result_images/att-unet.png
  recognition/s44935209/result_images/filt1.png
  recognition/s44935209/result_images/in1.png
  recognition/s44935209/result_images/in2.png
  recognition/s44935209/result_images/l2.png
  recognition/s44935209/result_images/loss_image.png
  recognition/s44935209/result_images/nested.jpg
  recognition/s44935209/result_images/r2unet.png
  recognition/s44935209/result_images/tensorb.png
  recognition/s44935209/result_images/test image.png
  recognition/s44935209/result_images/train_loss.png
  recognition/s44935209/result_images/unet1.png
  recognition/s44935209/s44935209_Improved_Unet_ISICs dataset
  recognition/s44935209/test.py
  recognition/s44935209/train.py
Labels: Improved UNet

#349 change training epoch
  recognition/s4544520/OASIS_StyleGAN/StyleGANNetwork.py
  recognition/s4544520/OASIS_StyleGAN/StyleGANUtils.py
  recognition/s4544520/OASIS_StyleGAN/img/intro.md
  recognition/s4544520/OASIS_StyleGAN/img/pgD1.png
  recognition/s4544520/OASIS_StyleGAN/img/pgD2.png
  recognition/s4544520/OASIS_StyleGAN/img/pgD3.png
  recognition/s4544520/OASIS_StyleGAN/img/pgImg.png
  recognition/s4544520/OASIS_StyleGAN/img/pgLoss.png
  recognition/s4544520/OASIS_StyleGAN/img/sgImg.png
  recognition/s4544520/OASIS_StyleGAN/img/sgLoss.png
  recognition/s4544520/OASIS_StyleGAN/mainTorun.py
  recognition/s4544520/OASIS_StyleGAN/readMe.md
  recognition/s4544520/OASIS_StyleGAN/trainer2.py
Labels: StyleGAN

#350 Topic recognition
  recognition/45062540_oasis_vqvae/README.md
  recognition/45062540_oasis_vqvae/images/case_001_slice_0.nii.png
  recognition/45062540_oasis_vqvae/images/case_005_slice_21.nii.png
  recognition/45062540_oasis_vqvae/images/case_015_slice_28.nii.png
  recognition/45062540_oasis_vqvae/images/case_023_slice_10.nii.png
  recognition/45062540_oasis_vqvae/images/case_029_slice_2.nii.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0001/1.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0001/2.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0001/3.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0001/4.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0001/5.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0001/6.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0001/7.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0001/8.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/1.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/10.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/11.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/12.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/13.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/14.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/15.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/16.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/17.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/2.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/3.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/4.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/5.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/6.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/7.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/8.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0003/9.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0005/1.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0005/2.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0005/3.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0005/4.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0005/5.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0005/6.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0005/7.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0005/8.png
  recognition/45062540_oasis_vqvae/images/lr = 0.0005/9.png
  recognition/45062540_oasis_vqvae/images/pixelcnn_architecture.png
  recognition/45062540_oasis_vqvae/images/pixelcnn_mask.png
  recognition/45062540_oasis_vqvae/images/pixelcnn_result.png
  recognition/45062540_oasis_vqvae/images/reconstruction.png
  recognition/45062540_oasis_vqvae/images/ssim.png
  recognition/45062540_oasis_vqvae/images/vqvae_architecture.png
  recognition/45062540_oasis_vqvae/main.ipynb
  recognition/45062540_oasis_vqvae/modules/dataset.py
  recognition/45062540_oasis_vqvae/modules/pixelcnn.py
  recognition/45062540_oasis_vqvae/modules/tools.py
  recognition/45062540_oasis_vqvae/modules/vqvae.py
Labels: VQVAE

#351 Topic recognition
  recognition/s4436238_UNet/Improved_UNet_Driver.ipynb
  recognition/s4436238_UNet/Improved_UNet_Model.ipynb
  recognition/s4436238_UNet/README.md
Labels: Improved UNet

#253 S4548833 YOLOv3
  recognition/s4548833/README.md
  recognition/s4548833/generate_train.py
  recognition/s4548833/labelfunc.py
  recognition/s4548833/obj.data
  recognition/s4548833/obj.names
  recognition/s4548833/result.txt
  recognition/s4548833/result4000.txt
  recognition/s4548833/test.ipynb
  recognition/s4548833/yolov3 (1).ipynb
  recognition/s4548833/yolov3_custom (1).cfg
Labels: YOLO

#216 Add VQVAE2 with PixelCNN generators to recognition models
  recognition/VQVAE_44310776/.gitignore
  recognition/VQVAE_44310776/README.md
  recognition/VQVAE_44310776/evaluate.ipynb
  recognition/VQVAE_44310776/extract_slices.py
  recognition/VQVAE_44310776/load_dataset.py
  recognition/VQVAE_44310776/pixel_cnn/__init__.py
  recognition/VQVAE_44310776/pixel_cnn/attention.py
  recognition/VQVAE_44310776/pixel_cnn/pixel_cnn.py
  recognition/VQVAE_44310776/pixel_cnn/prior_models.py
  recognition/VQVAE_44310776/ssim.py
  recognition/VQVAE_44310776/train_pixel_cnn.py
  recognition/VQVAE_44310776/train_vqvae.py
  recognition/VQVAE_44310776/trainer.py
  recognition/VQVAE_44310776/vqvae.py
Labels: VQVAE

#271 45717309 - Van Nhat Huy Nguyen - Knee laterality classification using Perceiver
  .gitignore
  recognition/s4571730/.gitignore
  recognition/s4571730/LICENSE
  recognition/s4571730/README.md
  recognition/s4571730/cross_attention.py
  recognition/s4571730/driver.py
  recognition/s4571730/fourier_encode.py
  recognition/s4571730/imgs/Figure_ds.png
  recognition/s4571730/imgs/Figure_plots.png
  recognition/s4571730/imgs/Figure_pred.png
  recognition/s4571730/imgs/perceiver.png
  recognition/s4571730/imgs/test_acc.png
  recognition/s4571730/model.py
  recognition/s4571730/transformer.py
Labels: Perceiver Transformer

#285 45979189unet3d pull request
  recognition/45979189unet3d/Figure_1.png
  recognition/45979189unet3d/README.md
  recognition/45979189unet3d/driver.py
  recognition/45979189unet3d/model.py
  recognition/45979189unet3d/visualization/axial.png
  recognition/45979189unet3d/visualization/coronal.png
  recognition/45979189unet3d/visualization/sagittal.png
Labels: UNet3D

#288 s4623205: Improved UNet
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/ExampleImage/Dataset/ISIC_0000001_example.png
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/ExampleImage/MathEquations/Metrics.png
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/ExampleImage/MathEquations/lrdecay.png
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/ExampleImage/Model/Improved_UNet.png
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/ExampleImage/Plots/TestSetPredict1.png
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/ExampleImage/Plots/TestSetPredict2.png
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/ExampleImage/Plots/TestSetPredict3.png
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/ExampleImage/Plots/TrainResult.png
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/ExampleImage/Plots/lrdecay_plot.png
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/Modules/SegmentaionModel.py
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/Modules/SegmentationMetrics.py
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/Modules/data_utils.py
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/Modules/misc_utils.py
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/README.md
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/test_ImprovedUnet_ISICs.py
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/train_ImprovedUnet_ISICs.py
  recognition/Segmentation-ISICs-ImprovedUnet-s4623205/train_ImprovedUnet_ISICs_save.py
Labels: Improved UNet

#331 s45028818] - Improved UNet on ISIC Data
  recognition/45028818/README.md
  recognition/45028818/data/images/README.md
  recognition/45028818/data/masks/README.md
  recognition/45028818/driver.py
  recognition/45028818/model.py
Labels: Improved UNet

#296 Image Segmentation ISIC Melanoma Dataset
  recognition/s4571796_ImprovedUNET/README.md
  recognition/s4571796_ImprovedUNET/Resources/ImprovedUNET.png
  recognition/s4571796_ImprovedUNET/Resources/image.png
  recognition/s4571796_ImprovedUNET/Resources/mask.png
  recognition/s4571796_ImprovedUNET/Results/Accuracy.png
  recognition/s4571796_ImprovedUNET/Results/Loss.png
  recognition/s4571796_ImprovedUNET/Results/segmentation_predicted_masks.png
  recognition/s4571796_ImprovedUNET/Results/segmentation_real_masks.png
  recognition/s4571796_ImprovedUNET/Results/test_real_image.png
  recognition/s4571796_ImprovedUNET/driver.py
  recognition/s4571796_ImprovedUNET/model.py
Labels: Improved UNet

#310 s4571084 GCN model
  recognition/s4571084/.DS_Store
  recognition/s4571084/README.md
  recognition/s4571084/gcn.py
  recognition/s4571084/model.py
Labels: GCN

#338 45616756 - GCN on Facebook dataset
  recognition/45616756-GCN/README.md
  recognition/45616756-GCN/data/Accuracy.png
  recognition/45616756-GCN/data/Embedding.png
  recognition/45616756-GCN/data/GCN.png
  recognition/45616756-GCN/data/Loss.png
  recognition/45616756-GCN/driver.py
  recognition/45616756-GCN/model.py
  recognition/45616756-GCN/plot.py
Labels: GCN

#215 Topic recognition GCN 45249435
  recognition/45249435/README.md
  recognition/45249435/Training_stage.png
  recognition/45249435/driver.py
  recognition/45249435/model.py
  recognition/45249435/testing model.png
  recognition/45249435/train_val accuracy.png
  recognition/45249435/tsne.png
Labels: GCN
