Repository shakes76/PatternFlow, pull requests merged in 2022-11, with the labels that each got.

#363 Stable diffusion OAI OKOA - Logan De Groot s4644376
  .gitignore
  recognition/s4644376 Stable Diffusion/dataset.py
  recognition/s4644376 Stable Diffusion/diffusion_imports.py
  recognition/s4644376 Stable Diffusion/images/99 Generated Images.png
  recognition/s4644376 Stable Diffusion/images/Generated Images Based off Stable Diffusion.png
  recognition/s4644376 Stable Diffusion/images/Single Example.png
  recognition/s4644376 Stable Diffusion/images/Stable Diffusion Model
  recognition/s4644376 Stable Diffusion/images/Training Loss Across Epochs.png
  recognition/s4644376 Stable Diffusion/images/UNET_structure.png
  recognition/s4644376 Stable Diffusion/images/Validation & Training Loss Across Epochs.png
  recognition/s4644376 Stable Diffusion/images/Validation Loss Across Epochs.png
  recognition/s4644376 Stable Diffusion/images/diffusion example.png
  recognition/s4644376 Stable Diffusion/images/input image.png
  recognition/s4644376 Stable Diffusion/modules.py
  recognition/s4644376 Stable Diffusion/predict.py
  recognition/s4644376 Stable Diffusion/readme.md
  recognition/s4644376 Stable Diffusion/train.py
Labels: Diffusion Model

#364 Pattern Analysis: Analysis of ISIC dataset with Improved UNet
  recognition/46417585_IUnet/.gitignore
  recognition/46417585_IUnet/IUnetExample.png
  recognition/46417585_IUnet/README.md
  recognition/46417585_IUnet/actual_1.png
  recognition/46417585_IUnet/dataset.py
  recognition/46417585_IUnet/ground_truth_1.png
  recognition/46417585_IUnet/model_summary.txt
  recognition/46417585_IUnet/modules.py
  recognition/46417585_IUnet/predict.py
  recognition/46417585_IUnet/predicted_1.png
  recognition/46417585_IUnet/prediction.png
  recognition/46417585_IUnet/requirements.txt
  recognition/46417585_IUnet/train.py
  recognition/46417585_IUnet/training_results.png
  recognition/46417585_IUnet/training_results.txt
  recognition/46417585_IUnet/utils.py
Labels: Improved UNet

#369 46416001 - Super Resolution CNN on the ADNI dataset
  .gitignore
  recognition/super-resolution-ESPCNN-ADNI/README.md
  recognition/super-resolution-ESPCNN-ADNI/constants.py
  recognition/super-resolution-ESPCNN-ADNI/dataset.py
  recognition/super-resolution-ESPCNN-ADNI/figures/loss-per-epoch.png
  recognition/super-resolution-ESPCNN-ADNI/figures/network-map.gif
  recognition/super-resolution-ESPCNN-ADNI/figures/prediction-1.png
  recognition/super-resolution-ESPCNN-ADNI/figures/prediction-2.png
  recognition/super-resolution-ESPCNN-ADNI/figures/prediction-3.png
  recognition/super-resolution-ESPCNN-ADNI/figures/psnr-per-epoch.png
  recognition/super-resolution-ESPCNN-ADNI/figures/testing-images.png
  recognition/super-resolution-ESPCNN-ADNI/figures/training-images.png
  recognition/super-resolution-ESPCNN-ADNI/modules.py
  recognition/super-resolution-ESPCNN-ADNI/predict.py
  recognition/super-resolution-ESPCNN-ADNI/train.py
Labels: Super_res

#370 s4518373-StyleGAN-OASIS brain
  recognition/45183735/README.md
  recognition/45183735/dataset.py
  recognition/45183735/modules.py
  recognition/45183735/predict.py
  recognition/45183735/readme_png/AdaIN.png
  recognition/45183735/readme_png/Loss_Training_output.png
  recognition/45183735/readme_png/Loss_output_epoch.png
  recognition/45183735/readme_png/Prediction.png
  recognition/45183735/readme_png/styleGAN_discriminator_structure.PNG
  recognition/45183735/readme_png/styleGAN_generator_structure.PNG
  recognition/45183735/readme_png/training_progress.png
  recognition/45183735/train.py
Labels: StyleGAN, Wrong Branch

#374 46443753 OASIS Generative model using StyleGAN
  recognition/46443753_OASIS/README.md
  recognition/46443753_OASIS/dataset.py
  recognition/46443753_OASIS/examples/040.png
  recognition/46443753_OASIS/examples/080.png
  recognition/46443753_OASIS/examples/120.png
  recognition/46443753_OASIS/examples/Sample_output2.png
  recognition/46443753_OASIS/examples/case_441_slice_0.nii.png
  recognition/46443753_OASIS/examples/d_model.png
  recognition/46443753_OASIS/examples/gen_model.png
  recognition/46443753_OASIS/examples/model_loss.png
  recognition/46443753_OASIS/examples/output.png
  recognition/46443753_OASIS/examples/stylgan.png
  recognition/46443753_OASIS/modules.py
  recognition/46443753_OASIS/predict.py
  recognition/46443753_OASIS/train.py
Labels: StyleGAN

#375 45677805 MRI super-resolution network SRCNN
  recognition/45677805_super_resolution_network/README.md
  recognition/45677805_super_resolution_network/SRCNN_model_structure.png
  recognition/45677805_super_resolution_network/dataset.py
  recognition/45677805_super_resolution_network/dataset1.ipynb
  recognition/45677805_super_resolution_network/environment.png
  recognition/45677805_super_resolution_network/model/modeH5_148epochs.h5
  recognition/45677805_super_resolution_network/model/modeH5_245.h5
  recognition/45677805_super_resolution_network/model/modeH5_265.h5
  recognition/45677805_super_resolution_network/modules.py
  recognition/45677805_super_resolution_network/plot.png
  recognition/45677805_super_resolution_network/predict.py
  recognition/45677805_super_resolution_network/predict_result/SRCNN.png
  recognition/45677805_super_resolution_network/predict_result/down-scale.png
  recognition/45677805_super_resolution_network/predict_result/epoch148_predicted_img.png
  recognition/45677805_super_resolution_network/predict_result/epoch_148.png
  recognition/45677805_super_resolution_network/predict_result/original.png
  recognition/45677805_super_resolution_network/predict_result/result_comparison.png
  recognition/45677805_super_resolution_network/predict_result/small.png
  recognition/45677805_super_resolution_network/predict_result/upscale.png
  recognition/45677805_super_resolution_network/srcnn.ipynb
  recognition/45677805_super_resolution_network/train.py
Labels: Super_res

#377 S4696730 VQ-VAE/PixelCNN Based Generator
  recognition/s46967307-VQVAE/README.MD
  recognition/s46967307-VQVAE/driver.py
  recognition/s46967307-VQVAE/model/dataset.py
  recognition/s46967307-VQVAE/model/modules.py
  recognition/s46967307-VQVAE/model/predict.py
  recognition/s46967307-VQVAE/model/train.py
  recognition/s46967307-VQVAE/resources/GatedCNN.png
  recognition/s46967307-VQVAE/resources/PixelCNN-Accuracy.png
  recognition/s46967307-VQVAE/resources/PixelCNN-Demo.png
  recognition/s46967307-VQVAE/resources/PixelCNN-Loss.png
  recognition/s46967307-VQVAE/resources/VQVAE-Architecture.png
  recognition/s46967307-VQVAE/resources/VQVAE-Demo.png
  recognition/s46967307-VQVAE/resources/VQVAE-Loss.png
Labels: VQVAE

#379 s45809352 Nicolas Carrasco VQVAE pull request
  recognition/s4580935/README.md
  recognition/s4580935/Report.ipynb
  recognition/s4580935/aoisnfoin.ipynb
  recognition/s4580935/dataset.py
  recognition/s4580935/img/1.PNG
  recognition/s4580935/img/1_miNfFc9qT5PrS7ectJa_kw.png
  recognition/s4580935/img/2.PNG
  recognition/s4580935/img/3.PNG
  recognition/s4580935/img/Reconstruction Loss.png
  recognition/s4580935/img/avgSim.PNG
  recognition/s4580935/img/c1.png
  recognition/s4580935/img/c2.png
  recognition/s4580935/img/c3.png
  recognition/s4580935/img/g1.PNG
  recognition/s4580935/img/g2.PNG
  recognition/s4580935/img/g3.PNG
  recognition/s4580935/img/pixel.PNG
  recognition/s4580935/img/rangeSim.PNG
  recognition/s4580935/img/vqvae.PNG
  recognition/s4580935/modules.py
  recognition/s4580935/predict.py
  recognition/s4580935/train.py
Labels: VQVAE

#380 45802492 - Simple Diffusion
  recognition/45802492_SimpleDiffusion/README.md
  recognition/45802492_SimpleDiffusion/dataset.py
  recognition/45802492_SimpleDiffusion/environment.yml
  recognition/45802492_SimpleDiffusion/modules.py
  recognition/45802492_SimpleDiffusion/predict.py
  recognition/45802492_SimpleDiffusion/train.py
Labels: Diffusion Model

#384 s4696541 - Alzheimers Identification using Vision Transformers (ViT)
  recognition/s4696541_Classify_Alzheimers/.gitignore
  recognition/s4696541_Classify_Alzheimers/README.MD
  recognition/s4696541_Classify_Alzheimers/dataset.py
  recognition/s4696541_Classify_Alzheimers/images/dataset_patching_example.png
  recognition/s4696541_Classify_Alzheimers/images/model_accuracy.png
  recognition/s4696541_Classify_Alzheimers/images/model_diagram.png
  recognition/s4696541_Classify_Alzheimers/images/model_loss.png
  recognition/s4696541_Classify_Alzheimers/modules.py
  recognition/s4696541_Classify_Alzheimers/predict.py
  recognition/s4696541_Classify_Alzheimers/train.py
Labels: VIT

#387 Detect and classify lesions in the ISIC 2017 dataset using Mask R-CNN (s4528646)
  recognition/s4528646-mask-rcnn/.gitignore
  recognition/s4528646-mask-rcnn/README.md
  recognition/s4528646-mask-rcnn/dataset.py
  recognition/s4528646-mask-rcnn/figures/example-mask-prediction.png
  recognition/s4528646-mask-rcnn/figures/example-mask.png
  recognition/s4528646-mask-rcnn/figures/example-prediction-melanoma.png
  recognition/s4528646-mask-rcnn/figures/example-with-target-bounding-box.png
  recognition/s4528646-mask-rcnn/figures/iou-boxplot.png
  recognition/s4528646-mask-rcnn/figures/mask-rcnn-architecture.PNG
  recognition/s4528646-mask-rcnn/figures/training-loss.png
  recognition/s4528646-mask-rcnn/modules.py
  recognition/s4528646-mask-rcnn/predict.py
  recognition/s4528646-mask-rcnn/train.py
Labels: Mask RCNN

#388 VQVAE Algorithm [Task 8] - (Conal O'Leary s4583653)
  recognition/CONAL_OLEARY_4583653/README.md
  recognition/CONAL_OLEARY_4583653/dataset.py
  recognition/CONAL_OLEARY_4583653/imgs/R9VMWD6.png
  recognition/CONAL_OLEARY_4583653/imgs/pixelCNN_accuracy.png
  recognition/CONAL_OLEARY_4583653/imgs/pixelCNN_gen.png
  recognition/CONAL_OLEARY_4583653/imgs/pixelCNN_loss.png
  recognition/CONAL_OLEARY_4583653/imgs/pixelCNN_priors.png
  recognition/CONAL_OLEARY_4583653/imgs/reconstructed_ssim.png
  recognition/CONAL_OLEARY_4583653/imgs/total_loss_vqvae.png
  recognition/CONAL_OLEARY_4583653/imgs/vqvae_codebooks.png
  recognition/CONAL_OLEARY_4583653/modules.py
  recognition/CONAL_OLEARY_4583653/predict.py
  recognition/CONAL_OLEARY_4583653/train.py
Labels: VQVAE

#392 Topic recognition ESPCN 46425487
  recognition/46425487_ADNI_MRI_super-resolution/README.MD
  recognition/46425487_ADNI_MRI_super-resolution/dataset.py
  recognition/46425487_ADNI_MRI_super-resolution/modules.py
  recognition/46425487_ADNI_MRI_super-resolution/predict.py
  recognition/46425487_ADNI_MRI_super-resolution/train.py
Labels: Super_res

#395 45894189 - OASIS StyleGAN
  recognition/45894189/README.md
  recognition/45894189/dataset.py
  recognition/45894189/figures/GAN.png
  recognition/45894189/figures/StyleGAN.png
  recognition/45894189/figures/collapse.png
  recognition/45894189/figures/examples.png
  recognition/45894189/figures/features.png
  recognition/45894189/figures/loss_plot.png
  recognition/45894189/modules.py
  recognition/45894189/predict.py
  recognition/45894189/train.py
  recognition/45894189/util.py
Labels: StyleGAN

#396 4642525-VQVAE
  recognition/46425254-VQVAE/README.md
  recognition/46425254-VQVAE/dataset.py
  recognition/46425254-VQVAE/modules.py
  recognition/46425254-VQVAE/predict.py
  recognition/46425254-VQVAE/readme_images/Dec_Enc1.png
  recognition/46425254-VQVAE/readme_images/Lat_Enc2.png
  recognition/46425254-VQVAE/readme_images/PCNN_256_Epcoh 150.png
  recognition/46425254-VQVAE/readme_images/PCNN_256_Epcoh 170.png
  recognition/46425254-VQVAE/readme_images/PCNN_256_Epcoh 200.png
  recognition/46425254-VQVAE/readme_images/PCNN_Latent epoch 100.png
  recognition/46425254-VQVAE/readme_images/PCNN_Latent epoch 160.png
  recognition/46425254-VQVAE/readme_images/PCNN_Latent epoch 20.png
  recognition/46425254-VQVAE/readme_images/PCNN_Latent epoch 200.png
  recognition/46425254-VQVAE/readme_images/PCNN_Latent1.png
  recognition/46425254-VQVAE/readme_images/PCNN_Latent2.png
  recognition/46425254-VQVAE/readme_images/PCNN_Latent3.png
  recognition/46425254-VQVAE/readme_images/PCNN_Latent4.png
  recognition/46425254-VQVAE/readme_images/PixelCNN_Loss.png
  recognition/46425254-VQVAE/readme_images/SSIM_1.png
  recognition/46425254-VQVAE/readme_images/Screenshot 2022-10-20 160250.png
  recognition/46425254-VQVAE/readme_images/VQVAE_Loss.png
  recognition/46425254-VQVAE/readme_images/case_001_slice_11.nii.png
  recognition/46425254-VQVAE/readme_images/case_001_slice_19.nii.png
  recognition/46425254-VQVAE/readme_images/case_001_slice_27.nii.png
  recognition/46425254-VQVAE/readme_images/case_001_slice_3.nii.png
  recognition/46425254-VQVAE/readme_images/case_002_slice_3.nii.png
  recognition/46425254-VQVAE/readme_images/pixelCNN.png
  recognition/46425254-VQVAE/readme_images/pixelCNNB.png
  recognition/46425254-VQVAE/train.py
  recognition/46425254-VQVAE/visualise.py
Labels: VQVAE

#398 Topic recognition - 45825473 - Generative VQVAE using OASIS
  recognition/45825473_VQVAE_OAISIS_BRAINS/README.MD
  recognition/45825473_VQVAE_OAISIS_BRAINS/dataset.py
  recognition/45825473_VQVAE_OAISIS_BRAINS/images/GeneratedBrains.PNG
  recognition/45825473_VQVAE_OAISIS_BRAINS/images/ReconstructedBrains.PNG
  recognition/45825473_VQVAE_OAISIS_BRAINS/images/SSIM.PNG
  recognition/45825473_VQVAE_OAISIS_BRAINS/images/SSIM_ReconstructionLoss.PNG
  recognition/45825473_VQVAE_OAISIS_BRAINS/images/TotalLoss.PNG
  recognition/45825473_VQVAE_OAISIS_BRAINS/images/vqvae-model-diagram.png
  recognition/45825473_VQVAE_OAISIS_BRAINS/modules.py
  recognition/45825473_VQVAE_OAISIS_BRAINS/predict.py
  recognition/45825473_VQVAE_OAISIS_BRAINS/train.py
Labels: VQVAE

#399 46272784-Siamese-Network
  recognition/46272784-Siamese/README.md
  recognition/46272784-Siamese/dataset.py
  recognition/46272784-Siamese/modules.py
  recognition/46272784-Siamese/predict.py
  recognition/46272784-Siamese/train.py
Labels: Siamese Network

#401 stylegan on OASIS brain dataset - 45643172
  recognition/45643172_stylegan/README.md
  recognition/45643172_stylegan/dataset.py
  recognition/45643172_stylegan/images/64x64.png
  recognition/45643172_stylegan/images/case_001_slice_14.nii.png
  recognition/45643172_stylegan/images/case_001_slice_30.nii.png
  recognition/45643172_stylegan/images/case_002_slice_11.nii.png
  recognition/45643172_stylegan/images/case_009_slice_1.nii.png
  recognition/45643172_stylegan/images/loss_plot.jpg
  recognition/45643172_stylegan/images/pgGan.png
  recognition/45643172_stylegan/images/stylegan.png
  recognition/45643172_stylegan/images/training_process.png
  recognition/45643172_stylegan/modules.py
  recognition/45643172_stylegan/predict.py
  recognition/45643172_stylegan/train.py
Labels: StyleGAN

#402 s4627365 -- Siamese Network
  recognition/46273651-Siamese network/Images/Untitled 1.png
  recognition/46273651-Siamese network/Images/Untitled.png
  recognition/46273651-Siamese network/Images/embedding.png
  recognition/46273651-Siamese network/Images/final_output.png
  recognition/46273651-Siamese network/Images/predict_test.png
  recognition/46273651-Siamese network/Images/predict_train.png
  recognition/46273651-Siamese network/Images/siamese.png
  recognition/46273651-Siamese network/Images/test_acc.png
  recognition/46273651-Siamese network/Images/visualize.png
  recognition/46273651-Siamese network/README.md
  recognition/46273651-Siamese network/dataset.py
  recognition/46273651-Siamese network/modules.py
  recognition/46273651-Siamese network/predict.py
  recognition/46273651-Siamese network/train.py
Labels: Siamese Network

#404 Improved 2D UNet Segmentation 44846958
  recognition/Improved UNet Segmentation s4484695/README.MD
  recognition/Improved UNet Segmentation s4484695/Results/DiceCurve.png
  recognition/Improved UNet Segmentation s4484695/Results/Epoch1.PNG
  recognition/Improved UNet Segmentation s4484695/Results/Epoch30.PNG
  recognition/Improved UNet Segmentation s4484695/Results/Epoch5.PNG
  recognition/Improved UNet Segmentation s4484695/Results/Inference.PNG
  recognition/Improved UNet Segmentation s4484695/Results/LossCurve.png
  recognition/Improved UNet Segmentation s4484695/Results/TestSegments.png
  recognition/Improved UNet Segmentation s4484695/Results/UNet.PNG
  recognition/Improved UNet Segmentation s4484695/Results/ValidationSegmentsEpoch1.png
  recognition/Improved UNet Segmentation s4484695/Results/ValidationSegmentsEpoch30.png
  recognition/Improved UNet Segmentation s4484695/Results/ValidationSegmentsEpoch5.png
  recognition/Improved UNet Segmentation s4484695/Results/testconsole.PNG
  recognition/Improved UNet Segmentation s4484695/Results/trainconsole.PNG
  recognition/Improved UNet Segmentation s4484695/dataset.py
  recognition/Improved UNet Segmentation s4484695/modules.py
  recognition/Improved UNet Segmentation s4484695/predict.py
  recognition/Improved UNet Segmentation s4484695/train.py
Labels: Improved UNet, Wrong Branch

#407 45840056 Jingwei Ni | Task 6
  recognition/45840056-jingwei-perceiver-adni/README.md
  recognition/45840056-jingwei-perceiver-adni/dataset.py
  recognition/45840056-jingwei-perceiver-adni/figures/batch_losses.png
  recognition/45840056-jingwei-perceiver-adni/figures/model.png
  recognition/45840056-jingwei-perceiver-adni/figures/predict.png
  recognition/45840056-jingwei-perceiver-adni/figures/scans_sequence.png
  recognition/45840056-jingwei-perceiver-adni/figures/training.png
  recognition/45840056-jingwei-perceiver-adni/modules.py
  recognition/45840056-jingwei-perceiver-adni/predict.py
  recognition/45840056-jingwei-perceiver-adni/train.py
Labels: Perceiver Transformer

#408 Topic recognition
  recognition/s4736267 SiameseNetwork/Picture/3Dslices.PNG
  recognition/s4736267 SiameseNetwork/Picture/Basicstructure.PNG
  recognition/s4736267 SiameseNetwork/Picture/OverviewSNN.PNG
  recognition/s4736267 SiameseNetwork/Picture/augmentation.PNG
  recognition/s4736267 SiameseNetwork/Picture/augmented.png
  recognition/s4736267 SiameseNetwork/Picture/basic_augmentation.png
  recognition/s4736267 SiameseNetwork/Picture/dataset.PNG
  recognition/s4736267 SiameseNetwork/Picture/orignal.png
  recognition/s4736267 SiameseNetwork/Picture/resnet.PNG
  recognition/s4736267 SiameseNetwork/Picture/resnet3D.PNG
  recognition/s4736267 SiameseNetwork/Picture/resnet3D_final.PNG
  recognition/s4736267 SiameseNetwork/Picture/singlemean.PNG
  recognition/s4736267 SiameseNetwork/Picture/training_loss_classifier.png
  recognition/s4736267 SiameseNetwork/Picture/training_loss_snn.png
  recognition/s4736267 SiameseNetwork/Picture/trainingbehav.png
  recognition/s4736267 SiameseNetwork/Picture/tripletloss.PNG
  recognition/s4736267 SiameseNetwork/README.md
  recognition/s4736267 SiameseNetwork/dataset.py
  recognition/s4736267 SiameseNetwork/modules.py
  recognition/s4736267 SiameseNetwork/predict.py
  recognition/s4736267 SiameseNetwork/train.py
Labels: Siamese Network

#409 ADNI VIT (Task 6)
  recognition/46410401/Images/Image32.png
  recognition/46410401/Images/image256.png
  recognition/46410401/Images/image648.png
  recognition/46410401/Images/img.png
  recognition/46410401/Images/img1024.png
  recognition/46410401/README.MD
  recognition/46410401/dataset.py
  recognition/46410401/modules.py
  recognition/46410401/predict.py
  recognition/46410401/train.py
Labels: VIT

#412 VQVAE on ADNI dataset
  recognition/45808140_VQVAE/README.md
  recognition/45808140_VQVAE/dataset.py
  recognition/45808140_VQVAE/images/loss.png
  recognition/45808140_VQVAE/images/pcnn_keras.png
  recognition/45808140_VQVAE/images/pcnn_model.png
  recognition/45808140_VQVAE/images/resid.png
  recognition/45808140_VQVAE/images/vae_model.png
  recognition/45808140_VQVAE/images/vq_keras.png
  recognition/45808140_VQVAE/images/vqvae_model.png
  recognition/45808140_VQVAE/modules.py
  recognition/45808140_VQVAE/predict.py
  recognition/45808140_VQVAE/results/generated_12.png
  recognition/45808140_VQVAE/results/generated_14.png
  recognition/45808140_VQVAE/results/generated_3.png
  recognition/45808140_VQVAE/results/pcnn_20.png
  recognition/45808140_VQVAE/results/pcnn_good1.png
  recognition/45808140_VQVAE/results/vq_30.png
  recognition/45808140_VQVAE/results/vq_50epochs.png
  recognition/45808140_VQVAE/results/vq_result_graph.png
  recognition/45808140_VQVAE/train.py
Labels: VQVAE

#413 Topic recognition - Facebook GCN
  recognition/45327735_facebook_gcn/README.md
  recognition/45327735_facebook_gcn/assets/graphs.PNG
  recognition/45327735_facebook_gcn/assets/model.png
  recognition/45327735_facebook_gcn/assets/umap.PNG
  recognition/45327735_facebook_gcn/dataset.py
  recognition/45327735_facebook_gcn/modules.py
  recognition/45327735_facebook_gcn/predict.py
  recognition/45327735_facebook_gcn/train.py
Labels: GCN

#414 47286238 - Segmentation on the ISIC Challenge 2017 Dataset using Improved UNET
  recognition/47286238_ISIC_Improved_UNET/.gitignore
  recognition/47286238_ISIC_Improved_UNET/README.md
  recognition/47286238_ISIC_Improved_UNET/dataset.py
  recognition/47286238_ISIC_Improved_UNET/modules.py
  recognition/47286238_ISIC_Improved_UNET/plot.py
  recognition/47286238_ISIC_Improved_UNET/predict.py
  recognition/47286238_ISIC_Improved_UNET/static/IUNET.png
  recognition/47286238_ISIC_Improved_UNET/static/dsc_history.png
  recognition/47286238_ISIC_Improved_UNET/static/loss_history.png
  recognition/47286238_ISIC_Improved_UNET/static/predict_result.png
  recognition/47286238_ISIC_Improved_UNET/static/test_results.png
  recognition/47286238_ISIC_Improved_UNET/static/train_example.png
  recognition/47286238_ISIC_Improved_UNET/train.py
Labels: Improved UNet

#417 VQVAE and PixelCNN on OASIS dataset.
  recognition/MattChoy-VQVAE/README.md
  recognition/MattChoy-VQVAE/VAE.md
  recognition/MattChoy-VQVAE/constants.py
  recognition/MattChoy-VQVAE/dataset.py
  recognition/MattChoy-VQVAE/docs/data.md
  recognition/MattChoy-VQVAE/images/AutoEncoder-TowardsDataScience.png
  recognition/MattChoy-VQVAE/images/SSIM.png
  recognition/MattChoy-VQVAE/images/loss.png
  recognition/MattChoy-VQVAE/images/pixelcnn_kernel.png
  recognition/MattChoy-VQVAE/images/pixelcnn_reconstructions.png
  recognition/MattChoy-VQVAE/images/reconstruction_loss.png
  recognition/MattChoy-VQVAE/images/sample_inputs.png
  recognition/MattChoy-VQVAE/images/vqvae_reconstructions.png
  recognition/MattChoy-VQVAE/modules.py
  recognition/MattChoy-VQVAE/predict.py
  recognition/MattChoy-VQVAE/run.sh
  recognition/MattChoy-VQVAE/train.py
  recognition/MattChoy-VQVAE/util.py
Labels: VQVAE

#421 Improved UNet implementation used on ISIC dataset
  recognition/45805448-Improved-UNet/README.md
  recognition/45805448-Improved-UNet/dataset.py
  recognition/45805448-Improved-UNet/images/am0.png
  recognition/45805448-Improved-UNet/images/am1.png
  recognition/45805448-Improved-UNet/images/am2.png
  recognition/45805448-Improved-UNet/images/am3.png
  recognition/45805448-Improved-UNet/images/am4.png
  recognition/45805448-Improved-UNet/images/improved_unet_structure.png
  recognition/45805448-Improved-UNet/images/model_dice_coefficient.png
  recognition/45805448-Improved-UNet/images/pm0.png
  recognition/45805448-Improved-UNet/images/pm1.png
  recognition/45805448-Improved-UNet/images/pm2.png
  recognition/45805448-Improved-UNet/images/pm3.png
  recognition/45805448-Improved-UNet/images/pm4.png
  recognition/45805448-Improved-UNet/images/ti0.png
  recognition/45805448-Improved-UNet/images/ti1.png
  recognition/45805448-Improved-UNet/images/ti2.png
  recognition/45805448-Improved-UNet/images/ti3.png
  recognition/45805448-Improved-UNet/images/ti4.png
  recognition/45805448-Improved-UNet/modules.py
  recognition/45805448-Improved-UNet/predict.py
  recognition/45805448-Improved-UNet/train.py
Labels: Improved UNet

#423 Generative Model using VQ-VAE and DCGAN
  recognition/s4643173/README.md
  recognition/s4643173/dataset.py
  recognition/s4643173/images/DCGAN Loss.png
  recognition/s4643173/images/Fake Images.png
  recognition/s4643173/images/Fake_Indices.png
  recognition/s4643173/images/Loss.png
  recognition/s4643173/images/Real Images.png
  recognition/s4643173/images/Reconstructed.png
  recognition/s4643173/images/Test.png
  recognition/s4643173/images/Test2.png
  recognition/s4643173/images/VQVAE.jpg
  recognition/s4643173/modules.py
  recognition/s4643173/predict.py
  recognition/s4643173/train.py
Labels: VQVAE

#426 UNet Segmentation
  recognition/s4587520-UNet/README.md
  recognition/s4587520-UNet/__init__.py
  recognition/s4587520-UNet/assets/UNet_Architecture.png
  recognition/s4587520-UNet/assets/example_lesion.jpg
  recognition/s4587520-UNet/assets/example_mask.png
  recognition/s4587520-UNet/assets/original_commits.png
  recognition/s4587520-UNet/assets/predict_output.png
  recognition/s4587520-UNet/assets/small_batch_training.png
  recognition/s4587520-UNet/dataset.py
  recognition/s4587520-UNet/environment.yml
  recognition/s4587520-UNet/modules.py
  recognition/s4587520-UNet/predict.py
  recognition/s4587520-UNet/train.py
Labels: Improved UNet

#429 Improved UNet Lesion Segmentation
  recognition/45807152/Improved_UNet_Driver.ipynb
  recognition/45807152/README.MD
  recognition/45807152/config.py
  recognition/45807152/dataset.py
  recognition/45807152/figures/ImprovedUNetArchitecture.png
  recognition/45807152/figures/diceVsEpoch.png
  recognition/45807152/figures/iouVsEpoch.png
  recognition/45807152/figures/lossVsEpoch.png
  recognition/45807152/figures/modelSummary.txt
  recognition/45807152/figures/preprocessingExample.png
  recognition/45807152/figures/testComparison151.png
  recognition/45807152/figures/testComparison152.png
  recognition/45807152/figures/testComparison153.png
  recognition/45807152/figures/testComparison154.png
  recognition/45807152/figures/testComparison155.png
  recognition/45807152/figures/testComparison156.png
  recognition/45807152/figures/testComparison157.png
  recognition/45807152/figures/testComparison158.png
  recognition/45807152/figures/testComparison159.png
  recognition/45807152/figures/testComparison160.png
  recognition/45807152/modules.py
  recognition/45807152/predict.py
  recognition/45807152/train.py
  recognition/45807152/utility.py
Labels: Improved UNet

#433 DCGAN + VQVAE on OASIS Dataset
  recognition/s4646780_OASIS_VQVAE/README.MD
  recognition/s4646780_OASIS_VQVAE/constants.py
  recognition/s4646780_OASIS_VQVAE/dataset.py
  recognition/s4646780_OASIS_VQVAE/driver.py
  recognition/s4646780_OASIS_VQVAE/images/OG_code_Recon.png
  recognition/s4646780_OASIS_VQVAE/images/brain_index.png
  recognition/s4646780_OASIS_VQVAE/images/generated_brain_gan.png
  recognition/s4646780_OASIS_VQVAE/images/generator.PNG
  recognition/s4646780_OASIS_VQVAE/images/lr_0.0005_fig.png
  recognition/s4646780_OASIS_VQVAE/images/mode_collapse.png
  recognition/s4646780_OASIS_VQVAE/images/recon_error_me.png
  recognition/s4646780_OASIS_VQVAE/images/vqvae_arch.PNG
  recognition/s4646780_OASIS_VQVAE/images/vqvae_diagram.png
  recognition/s4646780_OASIS_VQVAE/models/blockDecoder.py
  recognition/s4646780_OASIS_VQVAE/models/blockEncoder.py
  recognition/s4646780_OASIS_VQVAE/models/decoder.py
  recognition/s4646780_OASIS_VQVAE/models/discriminator.py
  recognition/s4646780_OASIS_VQVAE/models/encoder.py
  recognition/s4646780_OASIS_VQVAE/models/generator.py
  recognition/s4646780_OASIS_VQVAE/models/vectorQuantiser.py
  recognition/s4646780_OASIS_VQVAE/modules.py
  recognition/s4646780_OASIS_VQVAE/predict.py
  recognition/s4646780_OASIS_VQVAE/train.py
  recognition/s4646780_OASIS_VQVAE/utils.py
Labels: VQVAE

#439 Task 5 Brain MRI Super Resolution Network - Yufan Wang s45533675
  recognition/s45533675/Demo3.ipynb
  recognition/s45533675/README.md
  recognition/s45533675/dataset.py
  recognition/s45533675/modules.py
  recognition/s45533675/predict.py
  recognition/s45533675/results.png
  recognition/s45533675/train.py
Labels: Super_res

#441 Generative model of OASIS brain data set using VQVAE - Rohan Jivrajani (46240091)
  recognition/46240091_Rohan/README.md
  recognition/46240091_Rohan/dataset.py
  recognition/46240091_Rohan/modules.py
  recognition/46240091_Rohan/predict.py
  recognition/46240091_Rohan/readme_images/Novel images.png
  recognition/46240091_Rohan/readme_images/PCNN training loss.png
  recognition/46240091_Rohan/readme_images/PixelCNN.png
  recognition/46240091_Rohan/readme_images/VQVAE loss.png
  recognition/46240091_Rohan/readme_images/VQVAE reconstructed.png
  recognition/46240091_Rohan/readme_images/VQVAE structure.png
  recognition/46240091_Rohan/train.py
Labels: VQVAE

#446 Topic recognition
  recognition/vit-transformer-s4630996/README.MD
  recognition/vit-transformer-s4630996/config.py
  recognition/vit-transformer-s4630996/dataset.py
  recognition/vit-transformer-s4630996/images/218391_78.jpeg
  recognition/vit-transformer-s4630996/images/839474_78.jpeg
  recognition/vit-transformer-s4630996/images/big-accuracy.png
  recognition/vit-transformer-s4630996/images/big-loss.png
  recognition/vit-transformer-s4630996/images/experiments.png
  recognition/vit-transformer-s4630996/images/medium-accuracy.png
  recognition/vit-transformer-s4630996/images/medium-loss.png
  recognition/vit-transformer-s4630996/images/sample-aug.jpeg
  recognition/vit-transformer-s4630996/images/small-accuracy.png
  recognition/vit-transformer-s4630996/images/small-loss.png
  recognition/vit-transformer-s4630996/images/transformer-encoder.png
  recognition/vit-transformer-s4630996/images/vision-transformer.png
  recognition/vit-transformer-s4630996/images/vit.png
  recognition/vit-transformer-s4630996/modules.py
  recognition/vit-transformer-s4630996/predict.py
  recognition/vit-transformer-s4630996/train.py
  recognition/vit-transformer-s4630996/utils.py
Labels: VIT

#449 Topic recognition
  recognition/46466369_Transformer_Alzheimers/README.md
  recognition/46466369_Transformer_Alzheimers/ViT.ipynb
  recognition/46466369_Transformer_Alzheimers/dataset.py
  recognition/46466369_Transformer_Alzheimers/images/AD.jpeg
  recognition/46466369_Transformer_Alzheimers/images/NC.jpeg
  recognition/46466369_Transformer_Alzheimers/images/largerpatchaccuracy.png
  recognition/46466369_Transformer_Alzheimers/images/largerpatchloss.png
  recognition/46466369_Transformer_Alzheimers/images/lr001wd0015.png
  recognition/46466369_Transformer_Alzheimers/images/lr001wd0015img128.png
  recognition/46466369_Transformer_Alzheimers/images/lr001wd0015img128loss.png
  recognition/46466369_Transformer_Alzheimers/images/recent.png
  recognition/46466369_Transformer_Alzheimers/images/recentloss.png
  recognition/46466369_Transformer_Alzheimers/images/vit_model_architecture.png
  recognition/46466369_Transformer_Alzheimers/modules.py
  recognition/46466369_Transformer_Alzheimers/predict.py
  recognition/46466369_Transformer_Alzheimers/train.py
Labels: VIT

#450 ESPCN Implementation
  recognition/s4646438_Report/README.md
  recognition/s4646438_Report/constants.py
  recognition/s4646438_Report/dataset.py
  recognition/s4646438_Report/images/Sub-Pixel CNN Visualisation.PNG
  recognition/s4646438_Report/images/model_summary.PNG
  recognition/s4646438_Report/images/multi_comp_5.png
  recognition/s4646438_Report/images/training_statistics_loss.png
  recognition/s4646438_Report/images/training_statistics_psnr.png
  recognition/s4646438_Report/images/training_statistics_psnr_range.png
  recognition/s4646438_Report/modules.py
  recognition/s4646438_Report/predict.py
  recognition/s4646438_Report/train.py
Labels: Sub-pixel CNN

#451 Topic recognition
  recognition/s46852430/README.md
  recognition/s46852430/dataset.py
  recognition/s46852430/model.py
  recognition/s46852430/modules.py
  recognition/s46852430/predict.py
  recognition/s46852430/train.py
Labels: Improved UNet

#452 Topic recognition
  recognition/s4642427-UNET/.gitignore
  recognition/s4642427-UNET/ISIC_UNET.ipynb
  recognition/s4642427-UNET/README.MD
  recognition/s4642427-UNET/dataset.py
  recognition/s4642427-UNET/driver.py
  recognition/s4642427-UNET/images/1.png
  recognition/s4642427-UNET/images/2.png
  recognition/s4642427-UNET/images/3.png
  recognition/s4642427-UNET/images/4.png
  recognition/s4642427-UNET/images/5.png
  recognition/s4642427-UNET/images/dice.png
  recognition/s4642427-UNET/images/loss.png
  recognition/s4642427-UNET/images/unet.png
  recognition/s4642427-UNET/modules.py
  recognition/s4642427-UNET/predict.py
  recognition/s4642427-UNET/train.py
  recognition/s4642427-UNET/util.py
Labels: Improved UNet

#453 45813126 - VQ VAE
  recognition/45813126_VQVAE/README.MD
  recognition/45813126_VQVAE/dataset.py
  recognition/45813126_VQVAE/images/5epochs.png
  recognition/45813126_VQVAE/images/Figure_1.png
  recognition/45813126_VQVAE/images/Figure_2.png
  recognition/45813126_VQVAE/images/Loss_graph.png
  recognition/45813126_VQVAE/images/Train_1.png
  recognition/45813126_VQVAE/images/Train_2.png
  recognition/45813126_VQVAE/modules.py
  recognition/45813126_VQVAE/predict.py
  recognition/45813126_VQVAE/train.py
Labels: VQVAE

#454 45856682 Christian Binggeli
  recognition/4585668-VQVAE-OASIS/README.MD
  recognition/4585668-VQVAE-OASIS/dataset.py
  recognition/4585668-VQVAE-OASIS/modules.py
  recognition/4585668-VQVAE-OASIS/predict.py
  recognition/4585668-VQVAE-OASIS/train.py
Labels: VQVAE

#455 Robert Francis Task 2 Final Project
  recognition/s4532390/README.md
  recognition/s4532390/dataset.py
  recognition/s4532390/modules.py
  recognition/s4532390/predict.py
  recognition/s4532390/res/TSNE.PNG
  recognition/s4532390/res/accuracy.PNG
  recognition/s4532390/res/loss.PNG
  recognition/s4532390/train.py
Labels: GCN

#456 Generative VQ-VAE model for the OASIS MRI dataset
  recognition/s4581993-vqvae/.gitignore
  recognition/s4581993-vqvae/README.MD
  recognition/s4581993-vqvae/dataset.py
  recognition/s4581993-vqvae/hyperparameters.py
  recognition/s4581993-vqvae/images/pixelcnn_training_plot.png
  recognition/s4581993-vqvae/images/pixelcnn_vqvae_generations.png
  recognition/s4581993-vqvae/images/ssim_plot.png
  recognition/s4581993-vqvae/images/vqvae_overview.png
  recognition/s4581993-vqvae/images/vqvae_reconstructed_brain.png
  recognition/s4581993-vqvae/images/vqvae_reconstructed_cat.png
  recognition/s4581993-vqvae/images/vqvae_reconstructed_person.png
  recognition/s4581993-vqvae/images/vqvae_reconstructions.png
  recognition/s4581993-vqvae/images/vqvae_training_plot.png
  recognition/s4581993-vqvae/modules.py
  recognition/s4581993-vqvae/predict.py
  recognition/s4581993-vqvae/ssim.py
  recognition/s4581993-vqvae/train.py
  recognition/s4581993-vqvae/utils.py
Labels: VQVAE

#457 ADNI Classifier based on a Siamese Neural Network
  recognition/s4642283-ADNI-SIAMESE/README.MD
  recognition/s4642283-ADNI-SIAMESE/dataset.py
  recognition/s4642283-ADNI-SIAMESE/images/acc.png
  recognition/s4642283-ADNI-SIAMESE/images/classifier_acc.png
  recognition/s4642283-ADNI-SIAMESE/images/example_training.png
  recognition/s4642283-ADNI-SIAMESE/images/loss.png
  recognition/s4642283-ADNI-SIAMESE/images/snn_example.png
  recognition/s4642283-ADNI-SIAMESE/modules.py
  recognition/s4642283-ADNI-SIAMESE/predict.py
  recognition/s4642283-ADNI-SIAMESE/train.py
Labels: Siamese Network

#432 Perceiver Classifier for ADNI Alzheimer's dataset
  recognition/45287325_perciever_AD/README.MD
  recognition/45287325_perciever_AD/dataset.py
  recognition/45287325_perciever_AD/modules.py
  recognition/45287325_perciever_AD/predict.py
  recognition/45287325_perciever_AD/train.py
Labels: Perceiver Transformer

#467 Generative VQ-VAE + PixelCNN for the ADNI Brain Dataset - Adrian Rahul Kamal Rajkamal 45811935
  recognition/45811935_Project/README.md
  recognition/45811935_Project/ReducedResults/PixelCNNArchitecture.PNG
  recognition/45811935_Project/ReducedResults/SSIMResults.png
  recognition/45811935_Project/ReducedResults/VQVAEArchitecture.PNG
  recognition/45811935_Project/ReducedResults/decoderModel.png
  recognition/45811935_Project/ReducedResults/encoderModel.png
  recognition/45811935_Project/ReducedResults/main_results.txt
  recognition/45811935_Project/ReducedResults/maskTypes.png
  recognition/45811935_Project/ReducedResults/pixelModel.png
  recognition/45811935_Project/ReducedResults/quantisation_losses.png
  recognition/45811935_Project/ReducedResults/reconstruction_losses.png
  recognition/45811935_Project/ReducedResults/vq_vae_reconstructions_0.png
  recognition/45811935_Project/ReducedResults/vq_vae_reconstructions_1.png
  recognition/45811935_Project/ReducedResults/vq_vae_reconstructions_2.png
  recognition/45811935_Project/ReducedResults/vq_vae_reconstructions_3.png
  recognition/45811935_Project/ReducedResults/vq_vae_reconstructions_4.png
  recognition/45811935_Project/ReducedResults/vqvaeModel.png
  recognition/45811935_Project/ReducedResults/vqvae_total_losses.png
  recognition/45811935_Project/dataset.py
  recognition/45811935_Project/modules.py
  recognition/45811935_Project/predict.py
  recognition/45811935_Project/requirements.txt
  recognition/45811935_Project/train.py
Labels: VQVAE

#472 Daniel Ju Lian Wong, 46069340 : Stable Diffusion Model on the OASIS Brain MRI Dataset
  recognition/StableDiffusionModel/Images/AutoEncoderExample.png
  recognition/StableDiffusionModel/Images/AutoEncoderLoss.png
  recognition/StableDiffusionModel/Images/AutoEncoderLoss2.png
  recognition/StableDiffusionModel/Images/DenoisingLatentSpace.png
  recognition/StableDiffusionModel/Images/ModelCard.PNG
  recognition/StableDiffusionModel/Images/UNetLoss.png
  recognition/StableDiffusionModel/Predict.py
  recognition/StableDiffusionModel/README.md
  recognition/StableDiffusionModel/Train.py
  recognition/StableDiffusionModel/dataset.py
  recognition/StableDiffusionModel/modules.py
Labels: Diffusion Model, Wrong Branch

#482 Topic recognition
  recognition/s45800023-OASIS_VQVAE/README.MD
  recognition/s45800023-OASIS_VQVAE/Resources/dcganA.png
  recognition/s45800023-OASIS_VQVAE/Resources/embeddingslice.png
  recognition/s45800023-OASIS_VQVAE/Resources/ganloss.png
  recognition/s45800023-OASIS_VQVAE/Resources/ganloss2.png
  recognition/s45800023-OASIS_VQVAE/Resources/gen.png
  recognition/s45800023-OASIS_VQVAE/Resources/gen2.png
  recognition/s45800023-OASIS_VQVAE/Resources/genV.png
  recognition/s45800023-OASIS_VQVAE/Resources/realvrec.png
  recognition/s45800023-OASIS_VQVAE/Resources/umap.png
  recognition/s45800023-OASIS_VQVAE/Resources/vqvaeA.png
  recognition/s45800023-OASIS_VQVAE/Resources/vqvaeloss.png
  recognition/s45800023-OASIS_VQVAE/datasets.py
  recognition/s45800023-OASIS_VQVAE/modules.py
  recognition/s45800023-OASIS_VQVAE/predict.py
  recognition/s45800023-OASIS_VQVAE/train.py
Labels: VQVAE

#483 Topic recognition
  recognition/s4694189_UNET/README.md
  recognition/s4694189_UNET/dataset.py
  recognition/s4694189_UNET/dice_coefficient.jpg
  recognition/s4694189_UNET/improvedunet.png
  recognition/s4694189_UNET/loss_picture.jpg
  recognition/s4694189_UNET/module.py
  recognition/s4694189_UNET/modules.ipynb
  recognition/s4694189_UNET/predict.py
  recognition/s4694189_UNET/prediction.jpg
  recognition/s4694189_UNET/train.py
  recognition/s4694189_UNET/truth_vs_prediction.jpg
Labels: Improved UNet

#371 45996216 Classifying the Alzheimer’s disease based on the Siamese network
  recognition/45996216-Siamese network/1.png
  recognition/45996216-Siamese network/2.png
  recognition/45996216-Siamese network/Demo.ipynb
  recognition/45996216-Siamese network/README.md
  recognition/45996216-Siamese network/dataset.py
  recognition/45996216-Siamese network/modules.py
  recognition/45996216-Siamese network/predict.py
  recognition/45996216-Siamese network/train.py
Labels: Siamese Network, Feedback_Needed

#372 Topic recognition
  recognition/45853047-SiameseADNI/README.md
  recognition/45853047-SiameseADNI/dataset.py
  recognition/45853047-SiameseADNI/images/ad.jpeg
  recognition/45853047-SiameseADNI/images/c_acc.png
  recognition/45853047-SiameseADNI/images/c_loss.png
  recognition/45853047-SiameseADNI/images/classification.jpg
  recognition/45853047-SiameseADNI/images/cn.jpeg
  recognition/45853047-SiameseADNI/images/snn_acc.png
  recognition/45853047-SiameseADNI/images/snn_design.jpg
  recognition/45853047-SiameseADNI/images/snn_loss.png
  recognition/45853047-SiameseADNI/modules.py
  recognition/45853047-SiameseADNI/predict.py
  recognition/45853047-SiameseADNI/train.py
Labels: Siamese Network, Feedback_Needed

#389 OASIS VQVAE Implementation
  recognition/s4647510/README.MD
  recognition/s4647510/dataset.py
  recognition/s4647510/figures/cnn_accuracy_plot.png
  recognition/s4647510/figures/cnn_loss_plot.png
  recognition/s4647510/figures/codebook_0.png
  recognition/s4647510/figures/codebook_1.png
  recognition/s4647510/figures/codebook_2.png
  recognition/s4647510/figures/codebook_3.png
  recognition/s4647510/figures/codebook_4.png
  recognition/s4647510/figures/codebook_5.png
  recognition/s4647510/figures/codebook_6.png
  recognition/s4647510/figures/codebook_7.png
  recognition/s4647510/figures/codebook_8.png
  recognition/s4647510/figures/codebook_9.png
  recognition/s4647510/figures/decoded_0.png
  recognition/s4647510/figures/decoded_1.png
  recognition/s4647510/figures/decoded_3.png
  recognition/s4647510/figures/decoded_6.png
  recognition/s4647510/figures/decoded_7.png
  recognition/s4647510/figures/decoded_8.png
  recognition/s4647510/figures/decoded_9.png
  recognition/s4647510/figures/reconstruction_0.png
  recognition/s4647510/figures/reconstruction_1.png
  recognition/s4647510/figures/reconstruction_2.png
  recognition/s4647510/figures/reconstruction_3.png
  recognition/s4647510/figures/reconstruction_4.png
  recognition/s4647510/figures/reconstruction_5.png
  recognition/s4647510/figures/reconstruction_6.png
  recognition/s4647510/figures/reconstruction_7.png
  recognition/s4647510/figures/reconstruction_8.png
  recognition/s4647510/figures/reconstruction_9.png
  recognition/s4647510/figures/training_plot.png
  recognition/s4647510/modules.py
  recognition/s4647510/predict.py
  recognition/s4647510/requirements.txt
  recognition/s4647510/train.py
Labels: VQVAE, Feedback_Needed

#422 Generative VQ-VAE Model using PixelCNN for ADNI Dataset
  .idea/misc.xml
  .idea/vcs.xml
  recognition/s4581401-VQVAE/README.md
  recognition/s4581401-VQVAE/dataset.py
  recognition/s4581401-VQVAE/images/Brain_04.PNG
  recognition/s4581401-VQVAE/images/Brain_05.PNG
  recognition/s4581401-VQVAE/images/PixelCNNLossWhitebg.PNG
  recognition/s4581401-VQVAE/images/PixelCNN_image.PNG
  recognition/s4581401-VQVAE/images/PixelCNN_mask.PNG
  recognition/s4581401-VQVAE/images/PixelCNN_model.PNG
  recognition/s4581401-VQVAE/images/ReconstructedBrain.PNG
  recognition/s4581401-VQVAE/images/ReconstructedBrain2.PNG
  recognition/s4581401-VQVAE/images/VQVAE_loss_whtieBG.png
  recognition/s4581401-VQVAE/images/VQVAE_meansim_whitebg.png
  recognition/s4581401-VQVAE/images/VQVAE_paper_img.PNG
  recognition/s4581401-VQVAE/images/decoder_model.PNG
  recognition/s4581401-VQVAE/images/encoder_model.PNG
  recognition/s4581401-VQVAE/images/maskA.PNG
  recognition/s4581401-VQVAE/images/maskB.PNG
  recognition/s4581401-VQVAE/images/vqvae_loss_function.PNG
  recognition/s4581401-VQVAE/modules.py
  recognition/s4581401-VQVAE/predict.py
  recognition/s4581401-VQVAE/train.py
Labels: VQVAE, Feedback_Needed

#434 GCN on Facebook Large Scale Dataset: 46507422
  recognition/GCN 46507422/README.md
  recognition/GCN 46507422/dataset.py
  recognition/GCN 46507422/modules.py
  recognition/GCN 46507422/predict.py
  recognition/GCN 46507422/train.py
  recognition/MySolution/Methods.ipynb
  recognition/MySolution/unet_main.ipynb
Labels: GCN, Feedback_Needed

#435 44343309: Facebook GCN
  recognition/44343309-Facebook-GCN/README.md
  recognition/44343309-Facebook-GCN/dataset.py
  recognition/44343309-Facebook-GCN/images/acc.jpg
  recognition/44343309-Facebook-GCN/images/loss.jpg
  recognition/44343309-Facebook-GCN/images/predictTsne.jpg
  recognition/44343309-Facebook-GCN/images/trainingTsne.jpg
  recognition/44343309-Facebook-GCN/modules.py
  recognition/44343309-Facebook-GCN/predict.py
  recognition/44343309-Facebook-GCN/train.py
Labels: GCN, Feedback_Needed

#468 Topic recognition - VQVAE OASIS Generative model - Caelan Reid 42936127
  recognition/42936127/CNNoutput0.png
  recognition/42936127/CNNoutput1.png
  recognition/42936127/CNNoutput2.png
  recognition/42936127/CNNoutput3.png
  recognition/42936127/README.md
  recognition/42936127/VQVAEdiagram.png
  recognition/42936127/comparison1.png
  recognition/42936127/comparison2.png
  recognition/42936127/comparison3.png
  recognition/42936127/dataset.py
  recognition/42936127/main.ipynb
  recognition/42936127/modules.py
  recognition/42936127/originalVcode.png
  recognition/42936127/predict.py
  recognition/42936127/tools.py
  recognition/42936127/train.py
  recognition/42936127/training_output.png
Labels: VQVAE, Feedback_Needed

#411 Topic recognition - Dylan Baynes (45822801)
  recognition/s4582280-UNET/README.MD.txt
  recognition/s4582280-UNET/README.md
  recognition/s4582280-UNET/dataset.py
  recognition/s4582280-UNET/modules.py
  recognition/s4582280-UNET/predict.py
  recognition/s4582280-UNET/train.py
Labels: Improved UNet, Feedback_Needed

#479 Improved UNet 2017 ISIC Segmentation Implementation 46477383
  recognition/s4647738-UNet/README.md
  recognition/s4647738-UNet/dataset.py
  recognition/s4647738-UNet/ipynb/dataset.ipynb
  recognition/s4647738-UNet/ipynb/modules.ipynb
  recognition/s4647738-UNet/ipynb/predict.ipynb
  recognition/s4647738-UNet/ipynb/train.ipynb
  recognition/s4647738-UNet/modules.py
  recognition/s4647738-UNet/pngs/dsc.png
  recognition/s4647738-UNet/pngs/loss.png
  recognition/s4647738-UNet/predict.py
  recognition/s4647738-UNet/train.py
  recognition/s4647738-UNet/training_log.txt
Labels: Improved UNet, Wrong Branch, Feedback_Needed
